+++
title = "1. Charles Darwin and the “Perfection” of Organisms"
+++

{{<lessons>}}
<p>You probably all recognize this picture of <a href="https://en.wikipedia.org/wiki/Charles_Darwin">Charles Darwin</a> (1809–1882), the bearded creator of the theory of evolution by natural selection. But Darwin wasn’t always an old man. In 1837, when Darwin was just 28 years old, and a year after he returned home from <a href="https://www.darwinproject.ac.uk/commentary/voyage-hms-beagle">a five-year sailing trip around the world,</a> he began to record early ideas about evolution in his private notebooks. This wasn’t a popular position to take at the time. Only a few years earlier, an “evolutionary” book had been published anonymously (by, people later found out, a Scottish author named <a href="https://en.wikipedia.org/wiki/Robert_Chambers_(publisher,_born_1802)">Robert Chambers</a> [1802–1871]), called <a href="https://doi.org/10.5962/bhl.title.33033"><em>Vestiges of the Natural History of Creation.</em></a> It was mocked by everyone in the British scientific community. Darwin would later tell a friend that entertaining the thought that species might change over time was <a href="https://www.darwinproject.ac.uk/letter/DCP-LETT-729.xml">a bit like confessing a murder!</a></p>
<div class="think">
<p><strong>THINK[1]:</strong> Why might arguing for the view that species have changed over time have been seen as controversial, unusual, or problematic? What kinds of scientific, religious, social, or cultural views could you see it as threatening?</p>
</div>
<figure>
<img src="/images/lessons/darwin.jpg" class="smallimg left" style="width:33.0%" alt="Charles Darwin in 1869, photographed by famed photographer Julia Margaret Cameron (public domain; Wikimedia Commons)" /><figcaption aria-hidden="true">Charles Darwin in 1869, photographed by famed photographer Julia Margaret Cameron (public domain; Wikimedia Commons)</figcaption>
</figure>
<p>There were lots of reasons that people had thought that species probably didn’t change. Some of them were religious. Many world religions have stories about the creation of life on earth, and in most of those traditions there’s not an obvious place to make room for change in those creatures over time after they appeared. But those weren’t the only reasons! Many were scientific. In this reading, we’ll think about one of them: the <em>increase in complexity</em> of organisms.</p>
<p>It was a very old idea in biology, going back all the way to Aristotle in Ancient Greece, that all the living things on Earth could be placed roughly into <a href="https://en.wikipedia.org/wiki/Great_chain_of_being">a single scale,</a> from the simplest things at the bottom (think pond scum, algae, or, after we discovered them, microorganisms or bacteria) all the way up to humans at the top. There was also often a racist element to this thinking: we could also sort humans by their level of “perfection,” and since these theories were written by white people from Western Europe, white people from Western Europe were <a href="https://en.wikipedia.org/wiki/Polygenism">the “most perfect” humans.</a></p>
<div class="think">
<p><strong>THINK[2]:</strong> Why would this ancient theory so easily support a racist world-view? How could you detect other instances of racist theories in science? More generally, what obligations do scientists have to ensure that their theories can’t be used to support harmful social outcomes?</p>
</div>
<p>Leaving aside the racism, it’s easy enough to see how you can give what seems like a scientific basis to this kind of thinking. Many organisms appear to be more organized, more complex, more <em>interesting</em> than others. Think of the <a href="https://www.audubon.org/news/how-golden-eagles-spot-prey-incredible-distances">extremely good eyesight of eagles,</a> the <a href="https://animals.howstuffworks.com/mammals/cheetah-speed.htm">running speed of a cheetah,</a> or the <a href="https://phys.org/news/2015-04-migrating-whale-distance.html">long-distance swimming ability of migrating whales,</a> and compare them to something like an earthworm, which just doesn’t seem that complicated by comparison. One of Darwin’s biggest challenges, then, was to convince the scientific community that this “scale of perfection” <em>is actually an illusion</em>. According to Darwin’s theory, today’s bacteria aren’t “more evolved” or “less evolved” than we are – they have simply evolved <em>differently,</em> following a separate path in their evolutionary history than we have.</p>
<p>While the bacteria and we humans have been going in different evolutionary directions for a very long time, Darwin argued that we do share a very remote common ancestor with those bacteria. Today, we can see lots of evidence for this, especially as regards the biochemical parts from which our cells and the cells of the bacteria are constructed, <a href="https://doi.org/10.1002/iub.146">which are more or less the same.</a> For more than a billion years, the ancestors to today’s humans and today’s bacteria were getting better at fitting into dramatically different kinds of environments. We are one kind of end result, extremely good at surviving in some environments, and today’s bacteria are another kind, extremely good at surviving in very, very different environments. Bacteria are much better at reproducing than us, for example, and there are species of bacteria that have adapted to nearly every environment imaginable, from the ability to live in <a href="https://www.astrobio.net/extreme-life/bacterial-survival-in-salty-antifreeze-raises-hope-for-life-on-mars-and-icy-moons/">extremely cold water</a> to <a href="https://ocean.si.edu/ecosystems/deep-sea/microbes-keep-hydrothermal-vents-pumping">boiling-hot volcanic vents at the bottom of the sea.</a></p>
<div class="think">
<p><strong>THINK[3]:</strong> In Darwin’s day, there were two alternative ways to understand the difference between humans and bacteria. One would describe humans as “higher” than bacteria, on the basis of looking at their apparent complexity. The other would describe humans and bacteria as having evolved for the same amount of time, perhaps at different speeds (where humans evolved faster).</p>
<p>Do you think that this is only a conceptual difference, or could we collect data or perform experiments that might let us tell which of these explanations is right? If so, what would those data or experiments look like? More generally, how should we think about the relationship between conceptual change and experiment in science?</p>
</div>
<p>Darwin thus had a task in front of him: he had to convince people that thinking of ourselves as “higher” organisms and bacteria as “lower” organisms was actually a mistake. As we will see, though, this is something that he himself struggled with. It’s such a natural and obvious way to view the world around us that it’s really hard – even for someone as immersed in evolution as Darwin was – to remember that our instinct to think of things like humans as evolutionarily “better” is fundamentally misleading.</p>
<p>In June of 1858, Darwin received from his fellow naturalist <a href="https://en.wikipedia.org/wiki/Alfred_Russel_Wallace">Alfred Russel Wallace</a> (1823–1913) a paper about natural selection. While the two men actually had somewhat divergent ideas, Darwin was sure that concepts he had been developing for twenty years would be attributed to Wallace when he published his paper. Two of Darwin’s friends arranged a July meeting of a major scientific association in London, the Linnean Society, where <a href="http://darwin-online.org.uk/content/frameset?itemID=F350&amp;viewtype=text&amp;pageseq=1">Darwin and Wallace’s papers were both presented,</a> along with a few old letters of Darwin’s in which he spelled out natural selection, as a way of showing that Darwin was first. Neither Darwin nor Wallace was there, and we don’t think either one was personally involved in setting it up – but it did, in the end, succeed at giving Darwin the credit, and Wallace never contested this, even long after Darwin’s death.</p>
<p>In any case, Darwin knew he needed to present his view to the world, and soon. He started writing it down, as quickly as he possibly could, in a book that would become <a href="https://doi.org/10.5962/bhl.title.68064"><em>The Origin of Species,</em></a> published in 1859.</p>
<div class="think">
<p><strong>THINK[4]:</strong> Darwin was apparently very worried about what we now call being “scooped” – someone else getting credit for a scientific idea that you were really the first person to think up. Why might this kind of prestige be important for scientists? Should scientists be motivated by this kind of social credit, or is it harmful to the scientific process? Is it relevant to the story that Darwin was wealthy and well-connected, while Wallace was middle-class and not part of the traditional “scientific establishment?”</p>
<p><strong>THINK[5]:</strong> One thing that clearly helped Darwin here was the fact that he had important and influential friends who could quickly arrange a meeting at one of the most important scientific societies in the world. Major developments in science often involve not only the empirical or theoretical results, but also the social structures that you need in order to be able to distribute and publicize those results within the broader community. If Wallace had needed to do the same thing, without this kind of network, how could he have shared his results? What might you be able to do to bring attention to scientific results today that wouldn’t have been possible for scientists in the nineteenth century? Are we better off now than we were then, or not?</p>
</div>
<figure>
<img src="/images/lessons/hooker_magnolia.jpg" class="medimg" style="width:66.0%" alt="Joseph Dalton Hooker, in 1860, in a lithograph by Rudolf Hoffmann (public domain; Wikimedia Commons); Campbell’s Magnolia, illustrated by Hooker (CC-BY-SA 4.0; by Rawpixel at Wikimedia Commons)" /><figcaption aria-hidden="true">Joseph Dalton Hooker, in 1860, in a lithograph by Rudolf Hoffmann (public domain; Wikimedia Commons); Campbell’s Magnolia, illustrated by Hooker (CC-BY-SA 4.0; by Rawpixel at Wikimedia Commons)</figcaption>
</figure>
<p>In the middle of writing his book, Darwin wrote a letter to his friend and colleague, the botanist <a href="https://en.wikipedia.org/wiki/Joseph_Dalton_Hooker">Joseph Dalton Hooker</a> (1817–1911). In a previous letter, Hooker had summarized Darwin’s argument as claiming that “the principle of selection tends to extermination of low forms &amp; multiplication of high.”<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a> Obviously, Darwin wouldn’t like this, and so he tried to explain his position to Hooker:</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, letter to Hooker (1858)</p>
</div>
<div class="quote" title="Darwin, letter to Hooker (1858)">
<p>I do not think I said that I thought the productions of Asia were higher than those of Australia. I intend carefully to avoid this expression, for I do not think that any one has a definite idea what is meant by higher, except in classes which can loosely be compared with man. On our theory of Natural Selection, if the organisms of any area belonging to the Eocene or Secondary periods were put into competition with those now existing in the same area (or probably in any part of the world) they (i.e. the old ones) would be beaten hollow and be exterminated; if the theory be true, this must be so. In the same manner, I believe, a greater number of the productions of Asia, the largest territory in the world, would beat those of Australia, than conversely.<a href="#fn2" class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a></p>
</div>
</div>
<figure>
<img src="/images/lessons/thylacine.jpg" class="smallimg" style="width:33.0%" alt="One of the last Thylacines in captivity, Hobart Zoo, Australia, c. 1928 (public domain; Wikimedia Commons)" /><figcaption aria-hidden="true">One of the last Thylacines in captivity, Hobart Zoo, Australia, c. 1928 (public domain; Wikimedia Commons)</figcaption>
</figure>
<p>Darwin points here to an example that would have been familiar to his colleagues: the radical changes that had occurred in Australia since the arrival of European colonists. The <a href="https://en.wikipedia.org/wiki/Thylacine">thylacine, also called the Tasmanian tiger</a> (not to be confused with the <a href="https://en.wikipedia.org/wiki/Tasmanian_devil">Tasmanian devil,</a> which is both a cartoon character and an animal that still exists!) had already begun to disappear in Darwin’s day; it was hunted aggressively in the nineteenth century and nearly extinct by the late 1920s. The <a href="https://www.youtube.com/watch?v=5RPap1BWYns">last living thylacine died in captivity in 1939.</a> In large part, this and other extinctions were driven by the accidental or intentional introduction of European species (like cats, rabbits, foxes, and toads) into the country – today there are numerous such invasive species in Australia, and managing their large populations costs billions of dollars a year. You can see why this enormous and rapid change would be important to scientists interested in understanding natural selection.</p>
<div class="think">
<p><strong>THINK[6]:</strong> The example of Australia points to the importance of connections between science and colonialism, especially throughout the nineteenth century. Why do you think that scientists might have been particularly interested in what was happening in the colonies? How might this exposure have changed our understanding of the world? How might it have been harmful to the people living in the colonies?</p>
<p>The same goes for military expansion. Darwin’s trip around the world happened on the H.M.S. Beagle, a British navy ship in charge of surveying the coastline of South America to produce high-quality maps. What other connections can you think of between military power and scientific discovery? How might these links have altered the shape of the science that was produced?</p>
</div>
<p>As Darwin goes on to write at the end of the quotation above, the case of invasive species in Australia seems to give us evidence that the organisms which evolve in larger areas are fitter – better at surviving and reproducing – than those which evolve in smaller places like Australia. As we just discussed, what matters is not organisms getting “better” or “higher” in any sense that we could recognize, but just that they would be able to thrive more than their competitors. Darwin would reinforce the point with one more example:</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, letter to Hooker (1858)</p>
</div>
<div class="quote" title="Darwin, letter to Hooker (1858)">
<p>But this sort of highness (I wish I could invent some expression, and must try to do so) is different from highness in the common acceptation of the word. It might be connected with degradation of organisation: thus the blind degraded worm-like snake (<em>Typhlops</em>) might supplant the true earthworm. Here then would be degradation in the class, but certainly increase in the scale of organisation in the general inhabitants of the country. On the other hand, it would be quite as easy to believe that true earthworms might beat out the <em>Typhlops.</em> I do not see how this “competitive highness” can be tested in any way by us. And this is a comfort to me when mentally comparing the Silurian and Recent organisms. Not that I doubt a long course of “competitive highness” will ultimately make the organisation higher in every sense of the word; but it seems most difficult to test it.</p>
</div>
</div>
<figure>
<img src="/images/lessons/typhlops.jpg" class="smallimg left" style="width:33.0%" alt="A specimen of Typhlops vermicularis in India (CC-BY-SA; by AshLin at Wikimedia Commons)" /><figcaption aria-hidden="true">A specimen of <em>Typhlops vermicularis</em> in India (CC-BY-SA; by AshLin at Wikimedia Commons)</figcaption>
</figure>
<p>Whatever this evolutionary “highness” is must be different from what we call highness. Darwin points to the example of <em>Typhlops,</em> a genus of reptiles often called “worm snakes.” These snakes have adapted to live lives very similar to earthworms – they have no eyes, and rarely spend time above ground. Of course, Darwin writes, these could spread all over the world and, in the end, take the place of earthworms. In that sense, Darwin writes, it seems like the suborder of snakes would be “doing worse,” because there would be more of these strange, “degraded” snakes in the world than there were before. But a snake, even a very weird one, also seems like it is “more complicated” than an earthworm. So in that sense, a world with snakes and no earthworms is “higher” than ours. But how would we know whether this was “progress” or not in some kind of universal sense? How can we even form the question “comparing” the two cases?</p>
<div class="think">
<p><strong>THINK[7]:</strong> What is the problem that keeps us from being able to judge this global sense of “higher” and “lower,” on Darwin’s view? Is it just that we don’t have access to enough data, or that our evidence is incomplete? Do we need a new theory to be able to understand it? Is it a problem with our concepts?</p>
</div>
<p>This, then, is the position that Darwin argued for (most of the time). We should just stop using the terms “higher” and “lower,” as there’s no great sense of “progress” in evolution pointing from pond scum to people. As we’ve already seen, though, it’s really hard to keep this idea in mind – and it was hard even for Darwin himself! Let’s look at a few examples where Darwin said something rather different. In the <em>Origin of Species</em> itself (and remember that Darwin was writing this at the same time as he was writing the letter to Hooker we just read), he spent a lot of time thinking about a pretty obvious objection to his theory: if evolution <em>isn’t</em> making organisms “higher” or “more perfect,” then how are we supposed to understand some of the apparently “perfect” traits in nature, like the running speed of a cheetah, or, in Darwin’s example here, the wings of a bird?</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>Origin</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{Origin} (1859)">
<p>When we see any structure highly perfected for any particular habit, as the wings of a bird for flight, we should bear in mind that animals displaying early transitional grades of the structure will seldom continue to exist to the present day, for they will have been supplanted by the very process of perfection through natural selection. Furthermore, we may conclude that transitional grades between structures fitted for very different habits of life will rarely have been developed at an early period in great numbers and under many subordinate forms.<a href="#fn3" class="footnote-ref" id="fnref3" role="doc-noteref"><sup>3</sup></a></p>
</div>
</div>
<figure>
<img src="/images/lessons/flying_fish.jpg" class="smallimg" style="width:33.0%" alt="A flying fish, Exocoetus volitans, illustrated by J.F. Hennig in 1801 (public domain; Wikimedia Commons)" /><figcaption aria-hidden="true">A flying fish, <em>Exocoetus volitans,</em> illustrated by J.F. Hennig in 1801 (public domain; Wikimedia Commons)</figcaption>
</figure>
<p>On observing something as complex as a bird wing, Darwin writes, we have to remember that – and here things get confusing – the earlier forms of that wing, the ones that didn’t work as well, would have gone extinct, precisely because the new versions that we see today are simply <em>better</em> than the old ones. The “process of perfection through natural selection” would have produced newer, better wings, which in turn let organisms that have them do better than organisms that didn’t.</p>
<p>We can see this more clearly if we think about organisms that <em>do</em> have bad imitations of birds’ wings – like flying fish! There are only a few species of flying fish, and all they can do is <a href="https://www.nationalgeographic.com/animals/fish/group/flying-fish/">occasionally glide through the air above the surface of a body of water.</a> Darwin continues:</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>Origin</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{Origin} (1859)">
<p>Thus, to return to our imaginary illustration of the flying-fish, it does not seem probable that fishes capable of true flight would have been developed under many subordinate forms, for taking prey of many kinds in many ways, on the land and in the water, until their organs of flight had come to a high stage of perfection, so as to have given them a decided advantage over other animals in the battle for life. Hence the chance of discovering species with transitional grades of structure in a fossil condition will always be less, from their having existed in lesser numbers, than in the case of species with fully developed structures.<a href="#fn4" class="footnote-ref" id="fnref4" role="doc-noteref"><sup>4</sup></a></p>
</div>
</div>
<p>The point Darwin is making goes something like this: because flying fish aren’t very good at flying, they can’t be very good at all of the <em>advantages</em> you get from flying. They can’t catch bugs or evade predators in nearly the same kinds of ways that a real bird can. So they don’t have any evolutionary reason to spread. Because there’s not very many of them, we will be less likely to find them in the fossil record. That means it will always be hard for us to tell the story of how a highly perfected character trait, like bird wings, was developed in the history of life.</p>
<p>But wait! This is all wrong. We weren’t supposed to be talking about higher and lower, better and worse, and we <em>definitely</em> weren’t supposed to be talking about natural selection as a “process of perfection”! What happened? What is Darwin doing?</p>
<div class="think">
<p><strong>THINK[8]:</strong> What should we do when we think we have found a case of confusion or contradiction in the works of a scientist? How might these kinds of contradictions cause problems for the scientific theories that the author was hoping to defend? On the other hand, how might this kind of contradiction or tension serve as a useful aid for the generation of new knowledge?</p>
</div>
<p>What he’s doing is making the same mistake that we already discussed at the beginning of the lesson, and one that’s easy for many of us to make: confusing the ideas of <em>selective competition</em> and <em>evolutionary progress.</em> There’s nothing about a bird wing that’s “higher,” or about a flying-fish wing that’s “lower” – <em>except</em> that bird wings work better at the kind of jobs that birds need them to do! Birds have a set of challenges to solve, which today we would call their <a href="https://www.sciencedirect.com/topics/earth-and-planetary-sciences/ecological-niche"><em>ecological niche</em>:</a> things like what food they eat, what predators they need to avoid, where they sleep, and how they reproduce. Obviously those challenges are <em>very</em> different for a flying fish! Most birds wouldn’t be very good at laying eggs in the water and swimming away from bigger fish.</p>
<div class="think">
<p><strong>THINK[9]:</strong> If we wanted to compare the case of a bird’s flight with that of a flying fish, what kinds of things would we need to keep in mind? What would you need to know about the lives of a flying fish and of a bird to make such a comparison? Do you think that the comparison even makes sense? What would the comparison help us learn about the structure of evolutionary theory?</p>
</div>
<p>The moral of the story? We have to be <em>very</em> careful when we talk about evolutionary “perfection,” or even about cases where it seems obvious to us that some feature is “better” than another one at some task. A little bit later in the <em>Origin,</em> Darwin is more careful, as he responds again to the objection that something as complex as the eye could not have evolved by natural selection:</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>Origin</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{Origin} (1859)">
<p>To suppose that the eye, with all its inimitable contrivances for adjusting the focus to different distances, for admitting different amounts of light, and for the correction of spherical and chromatic aberration, could have been formed by natural selection, seems, I freely confess, absurd in the highest possible degree. Yet reason tells me, that if numerous gradations from a perfect and complex eye to one very imperfect and simple, each grade being useful to its possessor, can be shown to exist; if further, the eye does vary ever so slightly, and the variations be inherited, which is certainly the case; and if any variation or modification in the organ be ever useful to an animal under changing conditions of life, then the difficulty of believing that a perfect and complex eye could be formed by natural selection, though insuperable by our imagination, can hardly be considered real.<a href="#fn5" class="footnote-ref" id="fnref5" role="doc-noteref"><sup>5</sup></a></p>
</div>
</div>
<figure>
<img src="/images/lessons/eye_evolution.jpg" class="lgimg" style="width:100.0%" alt="Stages of eye complexity in mollusks (from Ayala, F. J. 2007. “Darwin’s greatest discovery: Design without designer.” Proceedings of the National Academy of Sciences 104(suppl 1):8567–8573. https://doi.org/10.1073/pnas.0701072104. Copyright 2007 National Academy of Sciences.)" /><figcaption aria-hidden="true">Stages of eye complexity in mollusks (from Ayala, F. J. 2007. “Darwin’s greatest discovery: Design without designer.” <em>Proceedings of the National Academy of Sciences</em> 104(suppl 1):8567–8573. <a href="https://doi.org/10.1073/pnas.0701072104" class="uri">https://doi.org/10.1073/pnas.0701072104</a>. Copyright 2007 National Academy of Sciences.)</figcaption>
</figure>
<p>Even something that appears perfect to us can still have evolved by natural selection, as long as we understand how the series of steps that took us from the absence of an eye to a fully formed eye could have “made sense” from an evolutionary perspective – that is, that each step would have given the organisms that had it some advantage over organisms that didn’t. <em>This</em> is the sense of “higher” that we can and should use, and in fact we can demonstrate it in the case of the eye, by looking at other eyes that organisms have today! In the image just above, we can follow the way that an eye might develop, from just a simple spot that can detect light and shadow, to an extremely complicated eye like <a href="https://gizmodo.com/octopus-eyes-are-crazier-than-we-imagined-1783195433">that of the octopus.</a> On the far left, the ability to detect light and shadow would be very useful if you were an organism living in shallow water and interested in that water’s temperature. Turning that into a “pigment cup” starts to give you directional information about where the light is coming from. And then making more complex “cameras” lets you start to identify what you’re actually looking at. At each step, organisms having that sort of eye can behave in a more complex manner, responding to their environment, food, and predators in ways that would let them succeed.</p>
<div class="think">
<p><strong>THINK[10]:</strong> How is this concept both like and unlike our traditional understanding of “progress?” Many in the nineteenth century, when Darwin introduced evolution, were worried about the overall direction in which their culture was headed. What would they have thought about the impact of evolution on their view of the world and their place in it? How might this, in turn, have affected what kind of theory scientists like Darwin would have tried to develop?</p>
</div>
<p>Evolutionary “highness,” then, is about the ability to do better in the competition for survival and reproduction. Sometimes that might look like “progress” in our sense, when it lines up with things like running faster, seeing better, or being stronger. But it also might align with turning into an earthworm, or being a flying fish! Even Darwin had trouble carefully keeping those two ideas separate. At the very end of the <em>Origin of Species,</em> he tried to reassure readers who might have found an evolutionary worldview scary. If there’s no progress governing the future of life on earth, should we be afraid that somehow natural selection spells doom, a future for all of us of being earthworm-snakes? No, Darwin writes:</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>Origin</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{Origin} (1859)">
<p>As all the living forms of life are the lineal descendants of those which lived long before the Silurian epoch, we may feel certain that the ordinary succession by generation has never once been broken, and that no cataclysm has desolated the whole world. Hence we may look with some confidence to a secure future of equally inappreciable length. And as natural selection works solely by and for the good of each being, all corporeal and mental endowments will tend to progress towards perfection.<a href="#fn6" class="footnote-ref" id="fnref6" role="doc-noteref"><sup>6</sup></a></p>
</div>
</div>
<p>But as we now know, this is Darwin being poetic, not being accurate. What Darwin would have meant by features “progressing toward perfection” – what he had to mean as he painstakingly rid himself of ideas of “higher” and “lower,” “better” and “worse,” – would not necessarily have looked much like what his nineteenth-century British readers would have thought of when they thought about “perfection.”</p>
<div class="think">
<p><strong>THINK[11]:</strong> Returning to one of the questions from early in the reading, why would a view like this possibly have been scary at the time – that is, why would Darwin have wanted to reassure his readers? Do you think it’s still troubling for readers today, or are we used to the idea of evolution? What kinds of relevant cultural and societal changes have taken place since that could be important to answering this question?</p>
<p><strong>THINK[12]:</strong> After everything you have now read, do you think that we should talk about evolution in terms of progress, or not? As we have seen, there is still a sense in which evolution improves organisms, and it is undeniable that advanced features now exist that once did not. Is this enough to support a progressive understanding of evolution, or do you think that the arguments against progress are more compelling? What consequences would this have on the kind of science that you would do, if you were studying evolution professionally?</p>
</div>
<h2 id="think-nos-reflection-questions">THINK: NOS Reflection Questions</h2>
<p>What does Darwin’s indecision about concepts of “higher” and “lower” tell us about the following features of the nature of science?</p>
<ul>
<li>nature of scientific credibility</li>
<li>social responsibility of scientists</li>
<li>role of cultural beliefs in science</li>
<li>role of racial/class bias</li>
<li>alternative explanations for phenomena</li>
<li>scientific collaboration and competition</li>
</ul>
<h2 id="further-reading">Further Reading</h2>
<ul>
<li>Bowler, Peter J. 1996. <a href="https://www.worldcat.org/title/charles-darwin-the-man-and-his-influence/oclc/731572144"><em>Charles Darwin: The Man and His Influence.</em></a> Cambridge: Cambridge University Press.</li>
<li>Ruse, Michael. 1996. <a href="https://www.worldcat.org/title/monad-to-man-the-concept-of-progress-in-evolutionary-biology/oclc/756838729"><em>Monad to Man: The Concept of Progress in Evolutionary Biology.</em></a> Cambridge, MA: Harvard University Press.</li>
<li>Moore, James. 2010. “Darwin’s Progress and the Problem of Slavery.” <em>Progress in Human Geography</em> 34 (5): 555–82. <a href="https://doi.org/10.1177/0309132510362932" class="uri">https://doi.org/10.1177/0309132510362932</a>.</li>
</ul>
<section class="footnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" role="doc-endnote"><p>Hooker’s letter to Darwin was sent on December 26, 1858; see <a href="https://www.darwinproject.ac.uk/letter/DCP-LETT-2385.xml" class="uri">https://www.darwinproject.ac.uk/letter/DCP-LETT-2385.xml</a><a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2" role="doc-endnote"><p>Darwin’s letter to Hooker was sent on December 31, 1858; see <a href="https://www.darwinproject.ac.uk/letter/DCP-LETT-2388.xml" class="uri">https://www.darwinproject.ac.uk/letter/DCP-LETT-2388.xml</a><a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3" role="doc-endnote"><p>Darwin, Charles. 1859. <a href="https://doi.org/10.5962/bhl.title.68064"><em>On the Origin of Species.</em></a> 1st ed. London: John Murray, pp. 182–183.<a href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn4" role="doc-endnote"><p>Darwin, p. 183.<a href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn5" role="doc-endnote"><p>Darwin, pp. 186–187.<a href="#fnref5" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn6" role="doc-endnote"><p>Darwin, p. 489.<a href="#fnref6" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
