{{ define "main" }}
<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">
      The Rise of Chance in Evolutionary Theory:
      <span>A Pompous Parade of Arithmetic</span>
    </h1>
    <p class="splash-subhead">
      A book about the introduction of concepts of chance and methods of
      statistics into evolutionary theory from 1830–1930, by Charles H. Pence.
    </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">About the Book</h2>

    <div class="pure-g grid-center">
      <div class="l-box pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
        <p>
          <em
            >The Rise of Chance in Evolutionary Theory: A Pompous Parade of
            Arithmetic</em
          >
          explores a pivotal conceptual moment in the history of evolutionary
          theory: the development of its extensive reliance on a wide array of
          concepts of chance. It tells the history of a methodological and
          conceptual development that reshaped our approach to natural selection
          over a century, ranging from Darwin’s earliest notebooks in the 1830s
          to the early years of the Modern Synthesis in the 1930s.
        </p>
        <p>
          Over this period, evolution – which was, for Darwin, broadly
          non-mathematical, non-chancy, and non-statistical –
          <em>became</em> chancy. A series of authors (including Francis Galton,
          W.&nbsp;F.&nbsp;R. Weldon, Karl Pearson, R.&nbsp;A. Fisher, and
          others) fashioned the approach, now second nature for us, by which we
          can construct a general theory of natural selection amid the chaotic
          everyday mating, cooperation, fighting, and death of animals in the
          wild.
        </p>
        <p>
          The biologists who engineered this shift were aware that they were
          breaking new ground, made enemies in the process, and engaged in a
          host of self-conscious reflections about just what purpose their work
          would serve. In other words, they constructed their own explicit
          philosophies of science. This book details both how this shift
          happened historically, and why it happened, highlighting the
          philosophical and conceptual developments that enabled it. Far from
          being inelegant, inapplicable to today’s problems, or a “pompous
          parade of arithmetic” (of which Weldon was once accused), the concerns
          which animated these theorists have never really left us.
        </p>
        <p>
          <em
            >The Rise of Chance in Evolutionary Theory: A Pompous Parade of
            Arithmetic</em
          >
          is an important advance for historians and philosophers of biology, as
          well as practicing evolutionary biologists and geneticists interested
          in the conceptual histories of their field.
        </p>
        <p style="margin-bottom: 1em">
          <img
            src="/images/nsf.gif"
            width="64"
            height="65"
            alt="NSF Logo"
            style="float: left; margin-right: 1em; vertical-align: middle"
          />
          The writing of this book was partially supported by the US National
          Science Foundation, under HPS Scholars Award #1826784.
        </p>
        <p class="is-center" style="clear: both">
          <a href="/images/cover.jpg"
            ><img
              src="/images/cover-thumb.jpg"
              width="500"
              height="291"
              alt="Book cover image"
          /></a>
        </p>
      </div>
    </div>
  </div>

  <div class="content">
    <h2 class="content-head is-center">Table of Contents</h2>

    <div class="pure-g grid-center">
      <div class="l-box pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
        <ol>
          <li>Chance governs the descent of a farthing: Charles Darwin</li>
          <li>The wonderful form of cosmic order: Francis Galton</li>
          <li>
            The only ultimate test of the theory of natural selection: The early
            years of biometry
          </li>
          <li>Here is the true gospel: Biometry after Mendelism</li>
          <li>
            Reconciling the biometrical conclusions: Evolution from 1906 to 1918
          </li>
          <li>
            What natural selection must be doing: R.&nbsp;A. Fisher's early
            synthesis
          </li>
          <li>Conclusions, historiographical and philosophical</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="ribbon l-box-lrg">
    <h2 class="content-head is-center">Where to Get It</h2>

    <div class="pure-g grid-center">
      <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
        <div
          class="pure-button-group"
          role="group"
          aria-label="Book resellers"
          style="text-align: center"
        >
          <a
            href="https://www.elsevier.com/books/the-rise-of-chance-in-evolutionary-theory/pence/978-0-323-91291-4"
            class="pure-button pure-button-primary"
            >At the publisher (Elsevier)</a
          ><a
            href="https://www.worldcat.org/title/rise-of-chance-in-evolutionary-theory-a-pompous-parade-of-arithmetic/oclc/1273076084"
            class="pure-button pure-button-primary"
            >At your local library (WorldCat)</a
          ><a
            href="https://www.amazon.com/dp/0323912915"
            class="pure-button pure-button-primary"
            >Amazon</a
          ><a
            href="https://www.abebooks.com/servlet/BookDetailsPL?bi=31061971248"
            class="pure-button pure-button-primary"
            >AbeBooks</a
          ><a
            href="https://www.barnesandnoble.com/w/the-rise-of-chance-in-evolutionary-theory-charles-pence/1140225779?ean=9780323912914"
            class="pure-button pure-button-primary"
            >Barnes and Noble</a
          ><a
            href="https://www.indiebound.org/book/9780323912914"
            class="pure-button pure-button-primary"
            >IndieBound</a
          ><a
            href="https://www.waterstones.com/book/the-rise-of-chance-in-evolutionary-theory/charles-h-pence/9780323912914"
            class="pure-button pure-button-primary"
            >Waterstones</a
          ><a
            href="https://en.wikipedia.org/wiki/Special:BookSources?isbn=9780323912914"
            class="pure-button pure-button-primary"
            >Wikipedia (worldwide links)</a
          >
        </div>
      </div>
    </div>

    <h2 class="content-head is-center">Where to Hear About It</h2>

    <div class="pure-g grid-center">
      <div class="l-box pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
        <p>
          I'll be delivering talks about the book throughout 2022 – see the list
          of talks here, and if you're interested in a (real-life or virtual)
          talk on the subject of the book, don't hesitate to write me an e-mail.
        </p>

        <ul>
          <li>
            Februrary 11, 2022 (online): Department of Cognitive and Information
            Sciences, University of California, Merced
          </li>
          <li>TBD: Psychometrics and Statistics, University of Groningen</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content">
    <h2 class="content-head is-center">Reviews</h2>

    <div class="pure-g grid-center">
      <div class="l-box pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
        <p>
          Are you (or your journal) interested in commissioning a review of this
          book?
          <a href="mailto:charles@charlespence.net">Write me an e-mail!</a> I'll
          make sure that a review copy is sent out posthaste.
        </p>

        <p>
          Also, if you've read the book, I would very much appreciate a review
          left on sites such as
          <a href="https://www.amazon.com/dp/0323912915">Amazon,</a>
          <a
            href="https://www.goodreads.com/book/show/59148455-the-rise-of-chance-in-evolutionary-theory"
            >GoodReads,</a
          >
          or
          <a href="https://www.librarything.com/work/27385878">LibraryThing.</a>
        </p>

        <p>
          <ul>
            <li><a href="https://doi.org/10.1086/721517">Tom Dickins, <em>Quarterly Review of Biology</em>:</a> “...this book is a revelation.” 
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="ribbon l-box-lrg">
    <h2 class="content-head is-center">Teaching Materials</h2>

    <div class="pure-g grid-center">
      <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
        <p>
          The <a href="https://nsf.gov/">National Science Foundation</a> grant
          which funded the writing of this book also included the preparation of
          teaching materials, targeted at introducing material from the history
          and philosophy of biology to enrich the evolution education of
          advanced secondary or introductory undergraduate students. Thanks to a
          grant from the
          <a href="https://uclouvain.be/fr/universite-numerique"
            >UCLouvain “Université numérique” program,</a
          >
          and the
          <a href="https://fnrs.be"
            >Fonds de la Recherche Scientifique – FNRS,</a
          >
          these lessons are also available in French translation!
        </p>
        <p>
          By clicking the buttons below you’ll find not only five lessons for
          students available online, but also downloadable and printable PDF
          versions, and a guide for instructors.
        </p>

        <p>
          <a href="/lessons/intro" class="pure-button">Read in English</a>
          <a href="/cours/intro" class="pure-button">Lire en français</a>
        </p>
      </div>
    </div>
  </div>

  {{ partial "footer.html" }}
</div>
{{ end }}
