{{ define "main" }}
<div class="pure-g grid-center">
  <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
    <h1 class="single-title">The Rise of Chance in Evolutionary Theory</h1>
    <h2 class="single-subtitle">{{ .Title }}</h2>

    {{ .Content }}
  </div>
</div>
{{ partial "footer.html" }} {{ end }}
