/* Utilities */
body {
  font-size: 1rem;

  @media (min-width: 48em) {
    font-size: 1.1rem;
  }
}

a {
  color: #1f8dd6;
  text-decoration: none;
}

p,
li {
  line-height: 1.5625;
}

.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: 48em) {
    border: none;
  }
}

.is-center {
  text-align: center;
}

.grid-center {
  justify-content: center;
}

.footer {
  color: #999;
  border-top: 1px solid #bbb;
}

h1.single-title {
  text-align: center;

  padding-bottom: 0.7em;

  margin-top: 2em;
  margin-bottom: 1.5em;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h2.single-subtitle {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.lesson-menu {
  margin-bottom: 2em;
}

/* Splash for the book title */
.splash-container {
  background: #fff url("/images/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;

  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 48em) {
    width: 50%;
    height: 50%;
  }
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #877861;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 700;
  border-radius: 5px;
  line-height: 1.2em;

  span {
    display: block;
    margin-top: 0.2em;
    font-size: 80%;
    line-height: 105%;
  }

  @media (min-width: 48em) {
    font-size: 200%;
  }
  @media (min-width: 78em) {
    font-size: 300%;
  }
}

.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;
}

/* We want to give the content area some more padding */
.content {
  padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.ribbon .content-head {
  color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  color: #1f8dd6;
}
.content-subhead i {
  margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #231f20;
  color: #aaa;

  a:visited {
    color: #1f8dd6;
  }
  a.pure-button:visited {
    color: rgba(0, 0, 0, 0.8);
  }
  a.pure-button-primary:visited {
    color: #fff;
  }
}

/* This is the subheading that appears on the splash section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Standard stuff borrowed from Pandoc */
code {
  white-space: pre-wrap;
}
span.smallcaps {
  font-variant: small-caps;
}
span.underline {
  text-decoration: underline;
}

/* Customizations for the actual lesson pages */
.footnotes {
  font-size: 80%;

  li p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .footnote-back {
    margin-left: 0.6em;
  }
}

figcaption {
  font-size: 0.8rem;
}

figure {
  float: right;
  margin: 1rem 0 1rem 2rem;
}
.left-figure {
  float: left;
  margin: 1rem 2rem 1rem 0;
}

.smallimg-figure {
  width: 33%;
}
.smallimg-figure img {
  width: 100% !important;
  margin: 0 0 0.5em;
}

.medimg-figure {
  width: 66%;
}
.medimg-figure img {
  width: 100% !important;
  margin: 0 0 0.5em;
}

.lgimg-figure,
.lgimg-figure.left-figure {
  margin: 1rem 0;
}
.lgimg-figure img {
  margin: 0 0 0.5em;
}

.think {
  clear: both;
  background-color: #f1f2f6;
  border: 2px solid #212931;

  padding: 1rem;
  margin-bottom: 2rem;
}

.quote-wrapper {
  clear: both;
  position: relative;
}

.quote-title {
  display: inline-block;

  background-color: #fff;
  border: 2px solid #797e83;

  position: absolute;
  right: 2em;

  padding: 0.25rem;
}

.quote-title p {
  margin: 0;
}

.quote {
  background-color: #f1f2f6;

  padding-top: 1em;

  border-color: #f1f2f6;
  border-width: 40px;
  border-style: solid;
  border-image: url("/images/paper.jpg") 40 40 40 round;

  margin-bottom: 2rem;
}

.think p:first-child,
.quote p:first-child {
  margin-top: 0;
}

.think p:last-child,
.quote p:last-child {
  margin-bottom: 0;
}
