<div class="pure-g lesson-menu">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="/cours/intro" class="pure-menu-link">Liste</a>
        </li>
        <li class="pure-menu-item">
          <a href="/cours/cours1" class="pure-menu-link">Cours 1</a>
        </li>
        <li class="pure-menu-item">
          <a href="/cours/cours2" class="pure-menu-link">Cours 2</a>
        </li>
        <li class="pure-menu-item">
          <a href="/cours/cours3" class="pure-menu-link">Cours 3</a>
        </li>
        <li class="pure-menu-item">
          <a href="/cours/cours4" class="pure-menu-link">Cours 4</a>
        </li>
        <li class="pure-menu-item">
          <a href="/cours/cours5" class="pure-menu-link">Cours 5</a>
        </li>
        <li class="pure-menu-item">
          <a href="/cours/guide" class="pure-menu-link"
            >Guide pour enseignant·e·s</a
          >
        </li>
        <li class="pure-menu-item">
          <a href="/" class="pure-menu-link">Retourner</a>
        </li>
      </ul>
    </div>
  </div>
</div>
