<div class="pure-g lesson-menu">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="/lessons/intro" class="pure-menu-link">List</a>
        </li>
        <li class="pure-menu-item">
          <a href="/lessons/lesson1" class="pure-menu-link">Lesson 1</a>
        </li>
        <li class="pure-menu-item">
          <a href="/lessons/lesson2" class="pure-menu-link">Lesson 2</a>
        </li>
        <li class="pure-menu-item">
          <a href="/lessons/lesson3" class="pure-menu-link">Lesson 3</a>
        </li>
        <li class="pure-menu-item">
          <a href="/lessons/lesson4" class="pure-menu-link">Lesson 4</a>
        </li>
        <li class="pure-menu-item">
          <a href="/lessons/lesson5" class="pure-menu-link">Lesson 5</a>
        </li>
        <li class="pure-menu-item">
          <a href="/lessons/guide" class="pure-menu-link">Teacher’s Guide</a>
        </li>
        <li class="pure-menu-item">
          <a href="/" class="pure-menu-link">Back</a>
        </li>
      </ul>
    </div>
  </div>
</div>
