+++
title = "5. W.F.R. Weldon, gènes et traits"
+++

{{<cours>}}
<figure>
<img src="/images/lessons/mendel.jpg" class="smallimg left" data-footnote="William Bateson, *Mendel&#39;s Principles of Heredity: A Defence: With a Translation of Mendel&#39;s Original Papers on Hybridisation*, Cambridge, 1902, éd. Cambridge University Press. &lt;https://doi.org/10.5962/bhl.title.95694&gt;." style="width:33.0%" alt="Gregor Mendel, dans Bateson, 1902, (image : domaine public, Wikimedia Commons)" /><figcaption aria-hidden="true">Gregor Mendel, dans Bateson, 1902, (image : domaine public, Wikimedia Commons)<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a></figcaption>
</figure>
<p>Comme vous le savez sans doute, un moine du nom de <a href="https://fr.wikipedia.org/wiki/Gregor_Mendel">Gregor Mendel</a> (1822-1884) a effectué au milieu du XIX<sup>e</sup> siècle une série d’expériences sur <a href="https://www.ncbi.nlm.nih.gov/books/NBK22098/">divers caractères présents dans les pois</a>, qui devaient se révéler centrales dans le développement de la science que nous appelons aujourd’hui génétique. Mendel a montré qu’un certain nombre des traits de ces pois, comme leur couleur (jaune ou verte), leur aspect (lisse ou ridé) et leur forme (ronde ou irrégulière), était transmis des parents aux descendants d’une façon très spécifique. Pour utiliser notre terminologie moderne, chaque parent semble porteur de deux allèles pour chaque locus, c’est-à-dire deux « versions » du caractère, et en transmet un (déterminé au hasard) à chaque descendant.</p>
<p>De plus, le lien entre ces deux allèles et l’apparence des pois semblait exceptionnellement clair. Certains traits, la couleur jaune plutôt que verte ou l’aspect lisse plutôt que ridé, sont ce qu’il a appelé « dominants » : si un pois a une seule copie de l’allèle jaune, il aura la couleur jaune. L’autre trait de chaque paire est ce qu’il a appelé « récessif » : un pois a besoin de <strong>deux</strong> exemplaires de l’allèle vert pour être vert. Mendel rend compte de ceci en disant que la couleur jaune est dominante par rapport à la verte dans les cas où elles sont mélangées.</p>
<div class="think">
<p><strong>RÉFLEXION 1 :</strong> Que connaissez-vous déjà sur Mendel et ses travaux ? Comment était-il présenté dans votre manuel ?</p>
</div>
<figure>
<img src="/images/lessons/pisum.jpg" class="smallimg" style="width:33.0%" alt="Une gousse de Pisum sativum (image : CC-BY-SA, Rasbak, Wikimedia Commons)" /><figcaption aria-hidden="true">Une gousse de <em>Pisum sativum</em> (image : CC-BY-SA, Rasbak, Wikimedia Commons)</figcaption>
</figure>
<p>Voilà ce qu’on trouve dans tous les livres d’histoire et de biologie. Ce que votre manuel n’expliquait peut-être pas est que, quand Mendel publie son étude en 1865, elle passe presque totalement inaperçue. Ce n’est qu’en 1900, quand des biologistes appelés <a href="https://fr.wikipedia.org/wiki/Hugo_de_Vries">Hugo De Vries</a> (1848-1935), <a href="https://fr.wikipedia.org/wiki/Carl_Correns">Carl Correns</a> (1864-1933) et <a href="https://fr.wikipedia.org/wiki/Erich_von_Tschermak-Seysenegg">Erich von Tschermak</a> (1871-1962) cherchent, chacun de son côté, <a href="https://en.wikipedia.org/wiki/Mutationism">des « sauts » dans certains caractères</a> comme le passage du jaune au vert ou d’un pois lisse à un pois irrégulier, qu’ils découvrent tous les trois l’article de Mendel. Le succès est immédiat. Depuis Darwin, comme nous l’avons vu à plusieurs reprises dans les leçons précédentes, les biologistes s’inquiétaient de ne pas réellement disposer d’une théorie pouvant expliquer les variations chez les organismes et comment elles étaient transmises des parents aux enfants. En l’absence d’une théorie de ce genre, comment comprendre vraiment le fonctionnement de la sélection naturelle ? Serait-il même possible de vraiment comprendre un jour l’évolution ?</p>
<p>Une partie des biologistes considéra que l’article de Mendel fournissait la réponse facile rêvée à cette question. Chaque caractère de chaque organisme, du jaune d’un pois à l’intelligence d’une personne, serait tout simplement gouverné par un petit nombre de gènes. Si on pouvait comprendre ces gènes, on pourrait les contrôler : découvrir le <a href="https://www.smithsonianmag.com/smart-news/tastier-tomatoes-may-be-making-comeback-180972175/">« gène de la tomate qui a du goût »</a> nous permettrait de faire pousser les meilleures tomates du monde.</p>
<p>Cependant, nous le savons aujourd’hui, la génétique est <strong>beaucoup</strong> plus compliquée que ça. Pour presque n’importe quel trait, le nombre de gènes concernés est <strong>énorme</strong> et ces gènes ne peuvent pas être déconnectés de l’environnement dans lequel l’organisme se développe. De nombreux gènes sont impliqués dans des interrelations extrêmement complexes, où des réseaux de différents gènes sont responsables de la « régulation » de la production du reste du réseau, avec certains gènes permettant à d’autres de s’exprimer, etc.</p>
<div class="think">
<p><strong>RÉFLEXION 2 :</strong> Il est important de ne pas oublier que, quand le travail de Mendel a été publié initialement et évalué, on n’avait pas encore découvert les bases de la biologie et la biochimie cellulaires ou l’ADN. Quels types de données peut-on rassembler dans ce cas et comment peut-on les utiliser pour constituer une théorie scientifique ? Quelles seraient les limites du type de théories productibles avec cette méthode ?</p>
</div>
<figure>
<img src="/images/lessons/weldon.jpg" class="smallimg left" data-footnote="Karl Pearson, « Walter Frank Raphael Weldon. 1860--1906 », *Biometrika*, 1906, vol. 5, n^o^ 1-2, p. 1-52, &lt;https://doi.org/10.1093/biomet/5.1-2.1&gt;." style="width:33.0%" alt="W.F.R. Weldon (image : domaine public, dans Pearson[^4] [1906], image scannée par Charles Pence)" /><figcaption aria-hidden="true">W.F.R. Weldon (image : domaine public, dans Pearson[^4] [1906], image scannée par Charles Pence)<a href="#fn2" class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a></figcaption>
</figure>
<p>Le point que nous étudierons aujourd’hui fait partie des premières pages de la découverte de la complexité de la génétique et l’objectif est de réfléchir à un des concepts fondamentaux à l’œuvre dans les toutes premières expériences de Mendel : <strong>qu’est-ce qu’un gène ?</strong> Comment a-t-on décidé ce qui constituait un « trait » unique ? Comment prendre cette décision dans un monde qui ne connaît ni la biochimie ni l’ADN et où on peut seulement observer les organismes autour de soi ? Et quelle est la relation entre l’approche de Mendel vis à vis de la génétique, où on observe la configuration génétique de deux individus et des descendants qu’ils peuvent avoir, et une perspective évolutive, où on s’intéresse aux <strong>populations</strong> d’organismes ?</p>
<p>À mesure que l’article de Mendel devenait plus célèbre, un nombre croissant de biologistes commença à s’y intéresser. Ce fut le cas de <a href="https://fr.wikipedia.org/wiki/Walter_Frank_Raphael_Weldon">W.F.R. Weldon</a> (dit Raphael Weldon, 1860-1906), un jeune zoologue spécialiste des invertébrés travaillant à Londres. Il avait passé les années précédentes à développer avec plusieurs collègues <a href="https://www.britannica.com/science/probability/Biometry">une nouvelle approche des populations évolutives</a> et était une des premières personnes à avoir utilisé les mathématiques, en particulier les statistiques, pour réfléchir sérieusement à l’évolution.</p>
<div class="think">
<p><strong>RÉFLEXION 3 :</strong> Darwin a introduit l’intégralité de sa théorie de l’évolution essentiellement sans aucun recours aux mathématiques. Pourquoi, selon vous, l’introduction en biologie de méthodes mathématiques était-elle bienvenue dans la pratique de la discipline aux yeux d’une partie des biologistes mais vue par d’autres comme une complexité inutile et une mauvaise idée ?</p>
</div>
<p>Initialement, à la lecture de l’étude de Mendel, Weldon est enthousiaste. Il écrit à un autre scientifique qu’il pense que les données de Mendel pourraient être une excellente manière de comprendre les caractères comme la couleur des yeux chez les êtres humains, où un nombre limité de « types » semble présent dans la nature (yeux bleus, yeux verts, yeux bruns, etc.) et où les types ne semblent pas souvent se mélanger. Mais une étude plus poussée des pois le fait changer d’avis. Il l’a expliqué en détail dans un article de revue publié en 1902 :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Weldon, de la revue <em>Biometrika</em> (1902)</p>
</div>
<div class="quote" title="Weldon, de la revue \emph{Biometrika} (1902)">
<p>Les affirmations de Mendel se fondent sur des travaux s’étendant sur plus de huit ans. Les résultats obtenus, remarquables, valent amplement, bien qu’elle soit énorme, la quantité de travail qu’ils ont certainement occasionnée, et la question se pose immédiatement de la mesure dans laquelle les lois qui en ont été déduites sont d’une application générale. Il est connu de presque tous qu’elles ne sont pas vraies pour tous les caractères, même dans les pois, et Mendel ne suggère pas qu’elles le soient. Je ne vois toutefois pas comment éviter la conclusion qu’elles ne s’appliquent pas universellement pour les caractères des pois décrits par Mendel de façon si minutieuse. Dans mon effort pour condenser les éléments sur lesquels je fonde mon opinion, je n’ai aucunement le désir de dénigrer l’importance de ce que Mendel a accompli. Je souhaite simplement attirer l’attention sur une série de faits qui me semblent indiquer des pistes de recherche utiles.<a href="#fn3" class="footnote-ref" id="fnref3" role="doc-noteref"><sup>3</sup></a></p>
</div>
</div>
<p>Il est important de signaler que Mendel était très prudent dans son article. Il n’y parlait que de sept caractères d’une seule plante et il écrivait très clairement qu’il ne prétendait pas que tous les caractères se comporteraient exactement de la même manière. Pour prendre un exemple simple d’un trait qui, lui, fonctionne différemment, la taille humaine est très complexe parce qu’y interagissent de très nombreux facteurs (muscles, os, tendons, etc.) et qu’il n’y a donc pas moyen de voir la taille de quelqu’un comme le résultat d’un seul gène. Mendel n’aurait pas dit le contraire et ce point n’était pas controversé.</p>
<figure>
<img src="/images/lessons/weldon_peas.jpg" class="lgimg" style="width:100.0%" alt="Représentation de W.F.R. Weldon des caractères dans différentes souches de pois (image : domaine public, dans Weldon [1902], image scannée par Charles Pence)" /><figcaption aria-hidden="true">Représentation de W.F.R. Weldon des caractères dans différentes souches de pois (image : domaine public, dans Weldon [1902], image scannée par Charles Pence)</figcaption>
</figure>
<p>Ce qui l’était en revanche est la position de Weldon selon laquelle, même dans les pois et <strong>même pour certains des caractères étudiés par Mendel</strong>, l’explication de celui-ci ne pouvait pas fonctionner. L’image ci-dessus est une photo préparée par Weldon de pois différents qu’il avait récoltés lui-même, après avoir écrit à des fournisseurs de semences agricoles de toute l’Angleterre demandant différents types de pois. Le résultat était surprenant.</p>
<div class="think">
<p><strong>RÉFLEXION 4 :</strong> Faire insérer cette photographie en couleur à son article scientifique était à la fois difficile et coûteux à l’époque. Il est donc clair que Weldon cherchait à persuader son lectorat d’une façon spécifique. En quoi une photo pouvait être plus persuasive qu’une simple description ? Qu’est-ce que Weldon cherchait à montrer à propos de lui-même ou de son protocole scientifique en incluant cette image ?</p>
</div>
<p>Arrêtons-nous sur la couleur un moment. Souvenez-vous, dans l’explication de Mendel, les pois sont soit verts soit jaunes, selon qu’ils ont les allèles vert ou jaune, et le jaune est dominant tandis que le vert est récessif. Maintenant, regardez la première rangée de pois, numérotés de 1 à 6. Weldon avait trouvé, au sein d’une seule variété de pois, des exemples semblant passer en dégradé du vert pur (numéro 1) à un jaune orangé (numéro 6). D’ailleurs, il avait même trouvé des pois qui ne paraissaient pas d’une seule couleur uniforme (numéros 13 à 18).</p>
<p>Le même problème se représente pour tous les traits étudiés par Mendel. Comme le dit Weldon :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Weldon, de la revue <em>Biometrika</em> (1902)</p>
</div>
<div class="quote" title="Weldon, de la revue \emph{Biometrika} (1902)">
<p>De nombreuses souches de pois sont extrêmement variables, et en couleur et en forme. Une souche aux grains « ronds et lisses », par exemple, ne produit pas des grains exactement identiques. Au contraire, de nombreux grains [...] présentent des irrégularités considérables tandis que dans [d’autres], on trouve à peine deux grains qui se ressemblent. Ainsi et la catégorie « ronds et lisses » et celle « ridés et irréguliers » incluent une gamme considérable de variétés. Parallèlement, les catégories sont, sans doute aucun, très souvent discontinues : le plus ridé des grains de [certains pois] est tellement plus lisse et plus arrondi que le plus régulier des souches typiquement « ridées » que personne, qui connaîtrait les deux souches, n’hésiterait un instant avant de dire à quelle souche un grain donné ressemble.<a href="#fn4" class="footnote-ref" id="fnref4" role="doc-noteref"><sup>4</sup></a></p>
</div>
</div>
<p>Weldon identifie ici deux problèmes. D’abord, les pois qu’il a étudiés sont souvent très <strong>variables</strong>. Une population exclusivement constituée de pois à grains « ronds » présente des grains qui sont assez différents les uns des autres. Il semblerait que le trait « rond » puisse s’exprimer de bien des manières. Deuxième problème, la signification de « rond » et de « lisse » peut être différente d’une sorte de pois à l’autre. Si vous aviez consacré un long moment à observer une variété de pois, au point de penser que vous maîtrisez la définition de « lisse », et que vous vous mettiez à observer une variété différente, vous pourriez bien constater que même le plus ridé des pois de votre nouvelle variété aurait été qualifié de « lisse » auparavant.</p>
<p>En bref, la première critique majeure par Weldon à propos de Mendel est que les catégories fixées par celui-ci ne correspondent pas à la réalité biologique : il faut se donner des manières plus complexes de décrire le monde si on veut appréhender toute l’étendue de la diversité même de quelque chose d’aussi simple que la couleur des pois.</p>
<div class="think">
<p><strong>RÉFLEXION 5 :</strong> Si les données sont ici aussi incertaines et variables que Weldon le dit, nous sommes face à un défi intéressant. Comment faire de la science, malgré ces problèmes dans nos données ? Comment éviter d’interpréter les données dont nous disposons selon nos convictions antérieures (biais de confirmation) ? Quels types de techniques pourraient nous aider à résoudre ce problème ?</p>
</div>
<figure>
<img src="/images/lessons/pigeons.jpg" class="medimg" data-footnote="Emil Schachtzabel, *Illustriertes Prachtwerk sämtlicher Taubenrassen*, Würzburg, 1906, éd. Königl. Universitätsdruckerei H. Stürtz A. G." style="width:66.0%" alt="Pigeons « de concours » (image : domaine public, illustration d’Anton Schöner, Wikimedia Commons)" /><figcaption aria-hidden="true">Pigeons « de concours » (image : domaine public, illustration d’Anton Schöner, Wikimedia Commons)<a href="#fn5" class="footnote-ref" id="fnref5" role="doc-noteref"><sup>5</sup></a></figcaption>
</figure>
<p>Le deuxième sujet de préoccupation de Weldon est lié à un point dont discutaient abondamment les biologistes de l’évolution depuis la place importante qu’il avait pris dans le travail de Darwin. À cette époque, les biologistes avaient amassé beaucoup de données sur un phénomène très étrange. Parfois, dans la culture d’un type spécifique de plante ou l’élevage d’un animal très particulier (comme ces pigeons « de compétition ») et ce même si les générations sont nombreuses et s’étendent sur une longue période, il arrive que se manifeste subitement <a href="https://www.sciencedirect.com/topics/biochemistry-genetics-and-molecular-biology/atavism">ce qu’on a appelé une « réversion » ou un « atavisme »</a>, c’est-à-dire une situation où l’organisme revient brusquement à l’apparence d’un ancêtre très éloigné (comme le genre de pigeon qu’on voit dans la rue).</p>
<div class="think">
<p><strong>RÉFLEXION 6 :</strong> Quels types d’explications possibles voyez-vous à ce phénomène ?</p>
</div>
<p>Outre le fait que c’est très étrange, cela a donné à Weldon l’idée qu’il fallait penser à l’effet qu’ont <strong>les ancêtres éloignés</strong> sur les organismes en vie, <strong>ce qui n’est pas</strong> compatible avec la théorie de Mendel. Pour Mendel, le seul facteur important est les gènes possédés par vos parents, pas besoin de remonter plus loin en arrière pour comprendre les gènes que vous aurez vous :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Weldon, de la revue <em>Biometrika</em> (1902)</p>
</div>
<div class="quote" title="Weldon, de la revue \emph{Biometrika} (1902)">
<p>Mendel traite les caractères comme la couleur jaune des cotylédons, et autres caractères semblables, comme si l’état du caractère chez deux parents donnés déterminait son état chez tous leurs descendants. Or il est bien connu des éleveurs [...] que la constitution d’un animal ne dépend pas, de manière systématique, de celle d’une paire unique d’ancêtres mais à divers degrés de la constitution de tous ses ancêtres de toutes les générations précédentes, celle de chaque génération de la demi-douzaine la plus proche ayant un effet assez sensible.<a href="#fn6" class="footnote-ref" id="fnref6" role="doc-noteref"><sup>6</sup></a></p>
</div>
</div>
<p>Vu d’aujourd’hui, nous comprenons mieux ce qui peut causer ce type d’effets. Les réseaux de gènes (dont nous avons brièvement parlé précédemment, où <a href="https://en.wikipedia.org/wiki/Gene_regulatory_network">de très nombreux gènes interagissent entre eux dans des relations complexes de régulation et de contrôle</a>) pourraient produire exactement ce type de résultats où des gènes qui avaient été « désactivés » pendant un certain nombre de générations étaient soudainement réactivés. Mais cette réponse ne nous est disponible que maintenant, ni Mendel ni Weldon n’avait jamais imaginé que c’était aussi compliqué. Ce dont Weldon était certain, en revanche, est qu’il y avait forcément plus de facteurs en jeu que Mendel n’en identifiait.</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Weldon, de la revue <em>Biometrika</em> (1902)</p>
</div>
<div class="quote" title="Weldon, de la revue \emph{Biometrika} (1902)">
<p>Ces exemples, choisis parmi bien d’autres qu’on aurait pu citer, me semblent montrer qu’il n’est pas possible de conclure que la dominance est une propriété d’un caractère, simplement en se fondant sur sa présence chez un des deux parents. Le degré auquel un caractère parental affecte la descendance dépend non seulement de son développement chez ce parent en particulier mais aussi de son degré de développement chez les ancêtres de ce parent.<a href="#fn7" class="footnote-ref" id="fnref7" role="doc-noteref"><sup>7</sup></a></p>
</div>
</div>
<p>La conclusion à laquelle arrive Weldon en se basant sur la réversion est que la dominance ne peut pas être aussi simple que la description de Mendel. Si l’expression d’un caractère ou sa non-expression dans la descendance met en jeu plus que la présence ou l’absence de ce caractère chez les parents, alors quelque chose d’autre que la simple dominance contrôle l’expression des caractères. Il en découle que la dominance est plus qu’une simple propriété des caractères et qu’il faut dresser un tableau de la génétique plus complexe que « jaune est dominant et vert est récessif ». Si la phrase précédente est vraie, « être dominant » ne relève pas du simple fait concernant l’allèle jaune.</p>
<p>Mais si le lien entre les gènes possédés par un organisme et les caractères qu’il présente n’est pas uniquement une question de dominance, comment Weldon pense-t-il que nous devrions le comprendre ? Comme mentionné plus haut, Weldon a été un des premiers parmi les biologistes à plaider sérieusement en faveur de l’utilisation des statistiques en théorie de l’évolution. Si nous voulons comprendre des caractères comme la taille chez l’être humain, nous savons qu’il sera impossible de penser en termes de « gène pour grande taille » et « gène pour petite taille ». Nous devons examiner la <a href="https://fr.wikipedia.org/wiki/Loi_normale">courbe qui décrit la taille de toutes les personnes</a>, avec beaucoup de gens de taille moyenne au milieu et quelques personnes très grandes et très petites aux deux extrémités.<a href="#fn8" class="footnote-ref" id="fnref8" role="doc-noteref"><sup>8</sup></a></p>
<div class="think">
<p><strong>RÉFLEXION 7 :</strong> Si votre conviction était que la plupart des caractères sont effectivement transmis comme ceux des pois de Mendel, quel autre type d’explication pourriez-vous donner pour les caractères comme la taille, qui semblent être distribués de façon très différente ? Quels types de preuves faudrait-il pour trancher entre l’explication de Weldon et la vôtre ?</p>
</div>
<p>Weldon avance donc que Mendel a fait erreur précisément parce qu’il ne traite pas les caractères comme ces courbes statistiques. Il a décrit ainsi son objection dans une lettre à un confrère en 1902 :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Weldon, lettre à Pearson (1902)</p>
</div>
<div class="quote" title="Weldon, lettre à Pearson (1902)">
<p>Ce que tous les mendéliens font est de prendre le diagramme de fréquence</p>
<p><img src="/images/lessons/graph.png" class="lgimg" style="width:100.0%" /></p>
<p>et de dire qu’un intervalle AB est un « caractère » et l’intervalle BC l’autre « caractère » d’une paire mendélienne.</p>
<p>Maintenant, prenez un parent n’importe où du côté A de la valeur moyenne et faites-le se reproduire avec un parent de l’intervalle BC, pour toute famille de taille expérimentale[ment pertinente], la probabilité qu’il se présente des descendants tombant dans l’intervalle BC est forcément proche de 0.</p>
<p>Ceci vous donne immédiatement une « dominance imparfaite » d’AB sur BC.<a href="#fn9" class="footnote-ref" id="fnref9" role="doc-noteref"><sup>9</sup></a></p>
</div>
</div>
<p>Regardons la courbe qu’il a tracée et imaginons qu’elle décrit la couleur des pois, comme sur la rangée du haut dans la photo ci-dessus. Weldon dit que ce caractère doit être vu comme une courbe, exactement comme pour la taille chez les êtres humains. Si nous en avons envie, nous pourrions dire que « vert » et « jaune » sont des caractères clairement définis, ce qui signifierait diviser la courbe et séparer les pois extrêmement verts des pois moins extrêmes, plus jaunes. Selon Weldon, nous pourrions dire la même chose des caractères distribués de façon continue, tels que la taille.</p>
<p>Pensez aux enfants d’une mère très grande et d’un père très petit : si les relations statistiques entre les parents se combinent de façon favorable, le résultat pourrait être comparable à la transmission mendélienne. Mais la réalité derrière cet aspect extérieur serait, elle, bien plus compliquée. Weldon essayait de dire qu’il se passait exactement la même chose dans le cas des pois. On pourrait certes simplifier d’une certaine manière pour obtenir les proportions de Mendel mais ils ne seraient, dans un certain sens, rien de plus que des outils théoriques utiles, au lieu d’être des reflets de la réalité du monde.</p>
<div class="think">
<p><strong>RÉFLEXION 8 :</strong> Un des enjeux dans la réponse de Weldon concerne la fonction des théories scientifiques. Qu’est-ce qui nous pousse à les élaborer ? Est-ce que nous voulons seulement les utiliser pour faire des prédictions sur le monde qui nous entoure ou les théories scientifiques sont-elles censées nous dire de quoi le monde est fait et comment ses éléments se combinent ? Pensez-vous qu’une de ces possibilités nous donne une « meilleure » science ? Laquelle ?</p>
</div>
<p>Bien sûr, nous savons aujourd’hui que, dans un sens, c’était tout à fait vrai : la réalité sous-jacente était bien plus complexe encore que Weldon (ou quiconque) ne l’avait réalisé à l’époque. Quels enseignements pour la biologie contemporaine pouvons-nous tirer de la prudence de Weldon ?</p>
<p>Plus important, nous devons faire attention à ne pas tirer trop de conclusions des pois de Mendel. Certes, nous savons maintenant que Mendel avait raison. Les caractères qu’il étudiait étaient réellement le résultat de changements sur un seul gène et il y avait effectivement une dominance quasi complète dans le cas des pois qu’il a étudiés. Cependant, comme Weldon l’avait pressenti, c’est un <a href="https://fr.wikipedia.org/wiki/Dominance_(g%C3%A9n%C3%A9tique)">cas extrêmement inhabituel dans la nature</a>. Très peu de caractères fonctionnent comme ça. Par conséquent, nous devons faire très attention quand nous entendons parler du <a href="https://dx.doi.org/10.1002%2Fbies.200800133">« gène pour » un caractère en particulier</a>. Très souvent, surtout dans les médias, la nouvelle qu’il existe un lien statistique entre un gène et un résultat très important pour le grand public est médiatisée comme « la découverte du gène codant pour » telle ou telle maladie physique ou trouble mental. C’est exactement contre ce genre de saut des gènes à des résultats compliqués que Weldon voulait nous avertir.</p>
<div class="think">
<p><strong>RÉFLEXION 9 :</strong> Avez-vous déjà personnellement vu des exemples de ce type dans les médias ? Par exemple, disons que quelqu’un déclare avoir découvert « le gène de l’obésité ». Comment approcheriez-vous l’évaluation critique de ce type d’allégation ? De quelles preuves complémentaires aurait-on d’après vous besoin pour savoir si c’est vrai ?</p>
</div>
<p>La critique menée par Weldon peut attirer notre attention sur un autre facteur, qui rend les raisons d’apparition des résultats chez les organismes beaucoup plus compliquées que les schémas mendéliens simples ne le laissent penser : <a href="https://en.wikipedia.org/wiki/Gene–environment_interaction">la relation entre les gènes et l’environnement</a> car, bien sûr, les gènes ne font rien tout seuls. Une caractéristique réelle, présente dans un organisme, résulte de l’expression d’un gène au cours de toute la vie de l’individu, qui vit, mange et interagit dans un environnement qui comprend d’autres organismes, des ressources naturelles, de la nourriture, des représentants d’autres espèces et d’innombrables autres influences. Toutes ces interactions, pas seulement les gènes, ont leur importance pour la vie future des organismes.</p>
<div class="think">
<p><strong>RÉFLEXION 10 :</strong> Imaginez que nous soyons face à deux explications concurrentes du même phénomène, une explication génétique et une environnementale. Comment différencier entre elles ? Qu’est-ce que vous voudriez savoir pour pouvoir choisir ?</p>
</div>
<p>On peut entrapercevoir l’importance de ce point à l’intérieur même de la critique de Weldon. Bien que nous n’ayons pas le temps de faire ici tout l’historique de l’idée de réversion, une autre raison de la réapparition en milieu naturel de caractères hérités d’ancêtres lointains est que les effets environnementaux sur les organismes peuvent se produire à nouveau : être élevés dans un environnement particulier, le même que pour un de leurs ancêtres, peut causer l’expression de traits qu’on n’avait pas vus se manifester depuis cet ancêtre.</p>
<p>En bref, depuis la naissance de la génétique, il existe des tiraillements entre la recherche d’explications génétiques simples à des phénomènes complexes — on en trouve à l’occasion — et les approches appelant à la prudence sur le rôle des gènes et de leurs relations à la fois entre eux et avec l’environnement. Il est crucial que nous réfléchissions bien aux conséquences de ceci, en particulier quand des questions importantes sur <a href="https://www.who.int/foodsafety/areas_work/food-technology/faq-genetically-modified-food/en/">la chaîne alimentaire</a> ou <a href="https://www.genome.gov/For-Patients-and-Families/Genetic-Disorders">la santé humaine</a> sont en jeu.</p>
<h2 id="réflexion-questions-sur-la-nature-des-sciences">RÉFLEXION : questions sur la nature des sciences</h2>
<p>Qu’est-ce que l’histoire de la réponse de Weldon à Mendel nous dit sur les aspects suivants des sciences ?</p>
<ul>
<li>robustesse (concordance entre de nombreux types différents de données)</li>
<li>biais de confirmation</li>
<li>réflexion interdisciplinaire</li>
<li>nouvelles techniques et leur validation</li>
<li>formes de persuasion</li>
<li>erreur et incertitude</li>
<li>crédibilité des médias d’information</li>
</ul>
<h2 id="lectures-dapprofondissement">Lectures d’approfondissement</h2>
<ul>
<li>Karl Pearson, « Walter Frank Raphael Weldon. 1860–1906 », <em>Biometrika</em>, 1906, vol. 5, n<sup>o</sup> 1-2, p. 1-52, <a href="https://doi.org/10.1093/biomet/5.1-2.1" class="uri">https://doi.org/10.1093/biomet/5.1-2.1</a>.</li>
<li>Gregory Radick, « Other Histories, Other Biologies », <em>Royal Institute of Philosophy Supplement</em>, 2005, vol. 56, n<sup>o</sup> 3-4, p. 21-47, <a href="https://doi.org/10.1017/S135824610505602X" class="uri">https://doi.org/10.1017/S135824610505602X</a>.</li>
<li>Gregory Radick, « Teach Students the Biology of Their Time », <em>Nature</em>, 2016, vol. 533, n<sup>o</sup> 7603, p. 293, <a href="https://doi.org/10.1038/533293a" class="uri">https://doi.org/10.1038/533293a</a>.</li>
</ul>
<section class="footnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" role="doc-endnote"><p>William Bateson, <em>Mendel’s Principles of Heredity: A Defence: With a Translation of Mendel’s Original Papers on Hybridisation</em>, Cambridge, 1902, éd. Cambridge University Press. <a href="https://doi.org/10.5962/bhl.title.95694" class="uri">https://doi.org/10.5962/bhl.title.95694</a>.<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2" role="doc-endnote"><p>Karl Pearson, « Walter Frank Raphael Weldon. 1860–1906 », <em>Biometrika</em>, 1906, vol. 5, n<sup>o</sup> 1-2, p. 1-52, <a href="https://doi.org/10.1093/biomet/5.1-2.1" class="uri">https://doi.org/10.1093/biomet/5.1-2.1</a>.<a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3" role="doc-endnote"><p>W.F.R. Weldon, « Mendel’s Laws of Alternative Inheritance in Peas », <em>Biometrika</em>, 1902, vol. 1, n<sup>o</sup> 2, p. 228-254, <a href="https://doi.org/10.1093/biomet/1.2.228" class="uri">https://doi.org/10.1093/biomet/1.2.228</a>, p. 235. Traduction de l’anglais : Sandra Mouton.<a href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn4" role="doc-endnote"><p>Weldon, « Mendel’s Laws of Alternative Inheritance in Peas », p. 236.<a href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn5" role="doc-endnote"><p>Emil Schachtzabel, <em>Illustriertes Prachtwerk sämtlicher Taubenrassen</em>, Würzburg, 1906, éd. Königl. Universitätsdruckerei H. Stürtz A. G.<a href="#fnref5" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn6" role="doc-endnote"><p>Weldon, « Mendel’s Laws of Alternative Inheritance in Peas », p. 241.<a href="#fnref6" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn7" role="doc-endnote"><p>Weldon, « Mendel’s Laws of Alternative Inheritance in Peas », p. 244.<a href="#fnref7" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn8" role="doc-endnote"><p>Pour vraiment comprendre la taille humaine, il y a beaucoup plus à faire : il faut aussi expliquer le fait que les hommes sont habituellement plus grands que les femmes, que les personnes qui mangent mieux pendant l’enfance sont plus grandes que celles qui sont mal-nourries et de nombreux autres facteurs.<a href="#fnref8" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn9" role="doc-endnote"><p>Cette lettre, écrite le 23 juin 1902, se trouve dans le fonds d’<a href="https://archives.ucl.ac.uk/CalmView/Record.aspx?src=CalmView.Catalog&amp;id=PEARSON">archives Karl Pearson à University College, London</a> dans le carton PEARSON/11/1/22/40.7.3. Traduction de l’anglais : Sandra Mouton.<a href="#fnref9" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
