+++
title = "1. Charles Darwin et la « perfection » des organismes"
+++

{{<cours>}}
<p>Cette photo à la barbe blanche de <a href="https://fr.wikipedia.org/wiki/Charles_Darwin">Charles Darwin</a> (1809-1882), créateur de la théorie de l’évolution par la sélection naturelle, vous est sans doute familière. Mais Darwin aussi a été jeune. En 1837, à seulement 28 ans, un an après son retour d’<a href="https://www.darwinproject.ac.uk/commentary/voyage-hms-beagle">un tour du monde de cinq ans en bateau</a>, Darwin commence à noter dans ses journaux personnels ses premières idées concernant l’évolution. Une opinion qui n’était pas populaire à l’époque. À peine quelques années plus tôt, un ouvrage « évolutionniste » avait été publié de manière anonyme (on découvrirait plus tard que l’auteur était l’Écossais <a href="https://fr.wikipedia.org/wiki/Robert_Chambers">Robert Chambers</a>, 1802-1871), sous le titre <a href="https://doi.org/10.5962/bhl.title.33033"><em>Vestiges of the Natural History of Creation</em></a> (« vestiges de l’histoire naturelle de la Création »), dont toute la communauté scientifique britannique s’était abondamment moquée. Darwin dirait d’ailleurs plus tard à un ami que reconnaître comme envisageable l’idée que les espèces puissent changer avec le temps était presque comme <a href="https://www.darwinproject.ac.uk/letter/DCP-LETT-729.xml">d’avouer un meurtre</a> !</p>
<div class="think">
<p><strong>RÉFLEXION 1 :</strong> Pourquoi l’opinion selon laquelle les espèces ont évolué au cours du temps était-elle aussi controversée, inhabituelle ou problématique ? D’après vous, quels types de visions scientifique, religieuse, sociale ou culturelle cette opinion peut-elle menacer ?</p>
</div>
<figure>
<img src="/images/lessons/darwin.jpg" class="smallimg left" style="width:33.0%" alt="Charles Darwin en 1869, portrait par la célèbre photographe Julia Margaret Cameron (image : domaine public, Wikimedia Commons)" /><figcaption aria-hidden="true">Charles Darwin en 1869, portrait par la célèbre photographe Julia Margaret Cameron (image : domaine public, Wikimedia Commons)</figcaption>
</figure>
<p>Les raisons de penser que les espèces ne changeaient sans doute pas étaient multiples. Certaines étaient religieuses. De nombreuses religions du monde possèdent des récits de création de la vie sur Terre et, dans la plupart de ces traditions, il n’y a pas de manière évidente d’intégrer une évolution des créatures au cours du temps après leur apparition. Mais ces positions religieuses n’étaient pas les seules raisons, beaucoup d’autres étaient scientifiques. Dans ce cours, nous nous pencherons sur l’une d’entre elles : <strong>l’accroissement de la complexité</strong> des organismes.</p>
<p>L’idée était très ancienne en biologie — elle remontait à Aristote en Grèce antique — selon laquelle tous les êtres vivants de la Terre pouvaient plus ou moins être placés sur <a href="https://fr.wikipedia.org/wiki/Scala_natur%C3%A6">une échelle unique</a> partant des êtres les plus simples tout en bas (les algues et le plancton qu’on trouve partout dans l’eau et, après leur découverte, les micro-organismes et bactéries) jusqu’aux êtres humains tout en haut de l’échelle. Souvent, il y avait aussi un élément raciste dans cette vision des choses : on pensait pouvoir classer de la même manière les êtres humains selon un degré de « perfection » et, comme ces théories avaient été écrites par des blancs d’Europe occidentale, les blancs d’Europe occidentale étaient d’après elles <a href="https://fr.wikipedia.org/wiki/Polyg%C3%A9nisme">les humains « les plus parfaits »</a>.</p>
<div class="think">
<p><strong>RÉFLEXION 2 :</strong> Pourquoi cette théorie ancienne est-elle si facilement compatible avec une vision raciste du monde ? Comment détecter d’autres cas de théories racistes en science ? Plus généralement, quelles obligations ont les scientifiques de s’assurer que leurs théories ne sont pas instrumentalisées au service de scénarios sociaux dangereux ?</p>
</div>
<p>Laissons de côté le racisme un moment. On voit bien comment il est possible de donner l’apparence d’un fondement scientifique à ce mode de pensée. De nombreux organismes semblent plus organisés, plus complexes, plus « intéressants » que d’autres. Prenez par exemple <a href="https://www.audubon.org/news/how-golden-eagles-spot-prey-incredible-distances">l’excellente vue des aigles</a>, la <a href="https://animals.howstuffworks.com/mammals/cheetah-speed.htm">vitesse de course du guépard</a> ou la <a href="https://phys.org/news/2015-04-migrating-whale-distance.html">capacité à nager sur de longues distances des baleines pendant leur migration</a>. Maintenant comparez-les à un ver de terre, qui n’a pas l’air bien complexe à côté d’eux. Une des plus grosses difficultés rencontrées par Darwin a été de convaincre la communauté scientifique que cette « échelle de perfection » est <strong>en fait une illusion</strong>. Selon la théorie de Darwin, les bactéries d’aujourd’hui ne sont pas « plus évoluées » ni « moins évoluées » que nous ne le sommes. Elles ont simplement évolué <strong>différemment</strong>, en suivant une autre voie que nous dans leur histoire évolutive.</p>
<p>Bien que les bactéries et les êtres humains suivent depuis très longtemps des directions évolutives différentes, Darwin disait que nous partageons néanmoins avec ces bactéries un ancêtre commun très éloigné. Nous en avons beaucoup de preuves aujourd’hui, en particulier en ce qui concerne les éléments biochimiques, <a href="https://doi.org/10.1002/iub.146">plus ou moins identiques</a>, dont sont constituées nos cellules et celles des bactéries. Les ancêtres des humains et des bactéries d’aujourd’hui ont passé plus d’un milliard d’années à améliorer leur adaptation à des environnements radicalement différents. Nous sommes un type de résultat final, très bon pour survivre dans certains environnements, et les bactéries d’aujourd’hui sont un autre résultat, très bon pour survivre dans des environnements complètement différents. Par exemple, les bactéries sont bien meilleures que nous pour se reproduire et il existe des espèces de bactéries adaptées à la vie dans presque tous les types d’environnements imaginables, de <a href="https://www.astrobio.net/extreme-life/bacterial-survival-in-salty-antifreeze-raises-hope-for-life-on-mars-and-icy-moons/">l’eau extrêmement froide</a> aux <a href="https://ocean.si.edu/ecosystems/deep-sea/microbes-keep-hydrothermal-vents-pumping">évents volcaniques sous-marins brûlants.</a></p>
<div class="think">
<p><strong>RÉFLEXION 3 :</strong> À l’époque de Darwin, il y avait deux manières de concevoir la différence entre êtres humains et bactéries : une qui décrivait les êtres humains comme « supérieurs » aux bactéries, à cause de leur apparente complexité, et l’autre décrivant êtres humains et bactéries comme ayant évolué pendant la même durée, peut-être à des vitesses différentes (les humains ayant évolué plus vite).</p>
<p>Pensez-vous qu’il s’agisse uniquement d’une différence conceptuelle ou qu’il serait possible de collecter des données ou d’effectuer des expériences permettant de trancher entre ces deux explications ? S’il est possible de trancher, à quoi ressembleraient ces données ou ces expériences ? Plus généralement, comment aborder la relation en science entre changements conceptuels et expérimentation ?</p>
</div>
<p>Darwin devait donc convaincre autour de lui que penser que nous sommes des organismes « supérieurs » et les bactéries des organismes « inférieurs » est incorrect. Pourtant, nous verrons que c’est une question avec laquelle il n’était pas toujours lui-même très à l’aise. Cette vision du monde où les êtres humains sont « meilleurs d’un point de vue évolutif » vient de façon tellement spontanée, même pour quelqu’un de totalement immergé dans la question de l’évolution comme Darwin, qu’il est très difficile de garder à l’esprit que cette conception instinctive est fondamentalement trompeuse.</p>
<p>En juin 1858, Darwin reçut un article sur la sélection naturelle écrit par un confrère naturaliste, <a href="https://fr.wikipedia.org/wiki/Alfred_Russel_Wallace">Alfred Russel Wallace</a> (1823-1913). Bien que les deux hommes aient eu des conceptions plutôt divergentes, Darwin était persuadé que les concepts qu’il développait depuis vingt ans seraient attribués à Wallace à la publication de l’article. Deux de ses amis organisèrent en juillet une réunion de la Linnean Society, grande association scientifique londonienne. Les <a href="http://darwin-online.org.uk/content/frameset?itemID=F350&amp;viewtype=text&amp;pageseq=1">travaux de Darwin et de Wallace y furent présentés</a>, ainsi que quelques lettres anciennes de Darwin où il décrivait la sélection naturelle, pour montrer que Darwin en avait parlé le premier. Ni Darwin ni Wallace n’était présent et, d’après ce qu’on sait, aucun des deux ne fut personnellement impliqué dans l’organisation de la réunion mais l’entreprise fut couronnée de succès : on attribua à Darwin le crédit de la découverte, ce que Wallace ne contesta jamais, même longtemps après la mort de Darwin.</p>
<p>En tout cas, Darwin était conscient qu’il lui fallait présenter sa vision des choses sans tarder. Il s’attela à la mettre par écrit, aussi vite qu’il pouvait, dans ce qui devait devenir <a href="https://doi.org/10.5962/bhl.title.68064"><em>L’origine des espèces</em></a>, son livre publié en 1859.</p>
<div class="think">
<p><strong>RÉFLEXION 4 :</strong> Darwin était apparemment inquiet de ce qu’on appellerait aujourd’hui « un vol de paternité » (en anglais <em>scooping</em>, quand quelqu’un qui n’est pas le premier à formuler une idée scientifique est reconnu comme son auteur à la place de la personne qui en est réellement à l’origine). Qu’est-ce qui peut expliquer que ce type de prestige soit important pour les scientifiques ? Cette reconnaissance sociale devrait-elle être une motivation en science ou est-ce mauvais pour le processus scientifique ? Est-ce important dans cet épisode que Darwin ait été riche et ait eu des relations, alors que Wallace était issu des classes moyennes et ne faisait pas partie de « l’establishment scientifique » ?</p>
<p><strong>RÉFLEXION 5 :</strong> Un point qui a clairement joué en faveur de Darwin ici est qu’il avait des amis haut placés influents, capables d’organiser rapidement une réunion à une des sociétés scientifiques les plus importantes du monde. Dans les tournants scientifiques majeurs, les résultats empiriques ou théoriques jouent un rôle mais aussi les structures sociales nécessaires pour pouvoir diffuser et promouvoir ces résultats au sein de la communauté scientifique dans son ensemble. Si Wallace avait dû le faire, comment aurait-il pu faire connaître ses résultats sans accès à ce type de relais ? Quels moyens, dont les scientifiques du XIX<sup>e</sup> siècle ne disposaient pas, auriez-vous aujourd’hui d’attirer l’attention sur des résultats scientifiques ? Notre situation actuelle est-elle préférable à celle de l’époque ?</p>
</div>
<p>En pleine rédaction de son livre, Darwin écrivit une lettre à son confrère et ami, le botaniste <a href="https://fr.wikipedia.org/wiki/Joseph_Dalton_Hooker">Joseph Dalton Hooker</a> (1817-1911). Dans une lettre précédente, Hooker avait évoqué la position de Darwin en la résumant sous la forme : « le principe de sélection tend à l’extermination des formes inférieures et à la multiplication des plus hautes »<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a>. Évidemment, cela ne convenait pas à Darwin, il essaya donc d’expliquer son argument à Hooker :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, lettre à Hooker (1858)</p>
</div>
<div class="quote" title="Darwin, lettre à Hooker (1858)">
<p>Je ne crois pas avoir dit que je pensais les produits de l’Asie supérieurs à ceux d’Australie. J’entends éviter avec soin d’utiliser cette expression car je ne crois pas que quiconque ait une idée définie de ce qui est signifié par « supérieur », excepté dans les classes qui sont approximativement comparables à l’homme. Concernant notre théorie de la sélection naturelle, si les organismes d’un lieu quelconque, appartenant aux périodes de l’Éocène ou de l’Ère secondaire, étaient placés en concurrence avec ceux existant aujourd’hui au même endroit (et sans doute en tout endroit du monde), ils, c’est-à-dire les plus anciens, seraient battus à plate couture et exterminés ; si la théorie est vraie, il ne peut en être autrement. Semblablement je pense, un plus grand nombre des produits de l’Asie, plus vaste territoire du monde, triompherait de ceux d’Australie que l’inverse.<a href="#fn2" class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a></p>
</div>
</div>
<figure>
<img src="/images/lessons/thylacine.jpg" class="smallimg" style="width:33.0%" alt="Un des derniers thylacines, en captivité au zoo d’Hobart en Australie, vers 1928 (image : domaine public, Wikimedia Commons)" /><figcaption aria-hidden="true">Un des derniers thylacines, en captivité au zoo d’Hobart en Australie, vers 1928 (image : domaine public, Wikimedia Commons)</figcaption>
</figure>
<p>Darwin met ici en avant un exemple dont ses confrères étaient familiers, celui des changements radicaux survenus en Australie depuis l’arrivée des colons européens. Le <a href="https://fr.wikipedia.org/wiki/Thylacine">thylacine, aussi appelé tigre de Tasmanie</a> (à ne pas confondre avec le <a href="https://fr.wikipedia.org/wiki/Diable_de_Tasmanie">diable de Tasmanie</a>, qui est à la fois un personnage de dessin animé et un animal encore en vie), avait déjà commencé à disparaître à l’époque de Darwin : objet d’une chasse intense au XIX<sup>e</sup> siècle, il est proche de l’extinction à la fin des années 1920 et le <a href="https://www.youtube.com/watch?v=5RPap1BWYns">dernier thylacine meurt en captivité en 1939</a>. Son extinction comme celle d’autres espèces est due à l’introduction accidentelle ou délibérée d’espèces européennes (comme les chats, les lapins, les renards et les crapauds) dans le pays. Ces espèces envahissantes sont aujourd’hui nombreuses en Australie et le contrôle de ces larges populations coûte des milliards de dollars australiens chaque année. On voit bien pourquoi ce changement massif et rapide était important pour les scientifiques s’intéressant à la sélection naturelle.</p>
<div class="think">
<p><strong>RÉFLEXION 6 :</strong> L’exemple australien met en lumière l’importance des liens entre science et colonialisme, en particulier pendant tout le XIX<sup>e</sup> siècle. Qu’est-ce qui, d’après vous, était susceptible d’intéresser particulièrement les scientifiques dans ce qui se passait aux colonies ? En quoi l’exposition à ce type d’information a-t-elle pu changer notre compréhension du monde ? Et en quoi l’impact peut avoir été négatif pour les peuples vivant dans ces colonies ?</p>
<p>Les mêmes questions se posent pour l’expansionnisme militaire. Darwin a fait son voyage autour du monde à bord du <em>H.M.S. Beagle</em>, navire de la marine militaire britannique chargé d’effectuer le relèvement des côtes d’Amérique du sud pour produire des cartes de qualité. Quels autres liens voyez-vous entre pouvoir militaire et découvertes scientifiques et comment ont-ils influé sur les connaissances et recherches scientifiques qui en sont issues ?</p>
</div>
<figure>
<img src="/images/lessons/hooker_magnolia.jpg" class="medimg" style="width:66.0%" alt="Joseph Dalton Hooker en 1860, lithographie de Rudolf Hoffmann (image : domaine public, Wikimedia Commons), Magnolia campbellii, illustration de Hooker (image : CC-BY-SA 4.0, Rawpixel, Wikimedia Commons)" /><figcaption aria-hidden="true">Joseph Dalton Hooker en 1860, lithographie de Rudolf Hoffmann (image : domaine public, Wikimedia Commons), <em>Magnolia campbellii</em>, illustration de Hooker (image : CC-BY-SA 4.0, Rawpixel, Wikimedia Commons)</figcaption>
</figure>
<p>Comme Darwin l’écrit dans sa lettre à la fin de l’extrait ci-dessus, le cas des espèces exotiques envahissantes en Australie semble nous indiquer que les organismes qui ont évolué sur des territoires plus grands sont plus aptes, à la survie et à la reproduction, que ceux qui ont évolué dans des espaces plus limités comme l’Australie. Comme nous venons de le voir, ce qui importe n’est pas que les organismes deviennent « meilleurs » ou « supérieurs » dans un sens du mot qui nous parle mais simplement qu’ils prospèrent plus que leurs concurrents. Darwin réaffirme ce point en donnant un exemple supplémentaire :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, lettre à Hooker (1858)</p>
</div>
<div class="quote" title="Darwin, lettre à Hooker (1858)">
<p>Mais cette sorte de supériorité (je voudrais pouvoir inventer quelque expression nouvelle — je dois m’y essayer) est différente de la supériorité dans l’acception commune de ce mot. Elle peut être liée à une dégradation de l’organisation : ainsi, il se peut que le serpent dégradé aveugle, semblable à un ver (<em>Typhlops</em>), supplante le ver de terre véritable. Il y aurait là une dégradation dans la classe mais assurément une progression dans l’organisation de l’ensemble des occupants du pays. Néanmoins, il serait tout aussi aisé de croire les vers de terre capables de vaincre le <em>Typhlops</em>. Je ne vois pas le moyen pour nous de mettre cette « supériorité compétitive » à l’épreuve. Et c’est pour moi une observation réconfortante quand je compare en pensée les organismes du Silurien et de l’ère récente. Non pas que je doute qu’une longue période de « supériorité compétitive » mènera en définitive à une organisation supérieure — dans tous les sens du terme — mais il semble très difficile de la mettre à l’épreuve.</p>
</div>
</div>
<p>Quelle que soit cette « supériorité » évolutive, elle doit être distinguée de ce que nous appelons « supériorité ». Darwin attire l’attention sur le cas <em>Typhlops</em>, genre de reptiles souvent appelés « serpents aveugles ». Ces serpents se sont adaptés pour vivre de façon très similaire à des vers de terre : ils n’ont pas d’yeux et passent peu de temps en surface. Bien sûr, dit Darwin, ils pourraient se répandre partout sur terre et finir par remplacer les vers de terre. En ce sens, selon lui, on pourrait dire que le sous-ordre des serpents serait dans une situation « moins bonne » car il y aurait un plus grand nombre qu’auparavant de ces étranges serpents « dégradés » dans le monde. Pourtant, un serpent, même très étrange, semble « plus compliqué » qu’un ver de terre donc en ce sens-là, un monde contenant des serpents et pas de ver de terre serait « supérieur » au nôtre. Mais comment savoir s’il s’agirait d’un « progrès » dans un sens plus universel ? Comment pouvons-nous ne serait-ce que formuler cette comparaison entre les deux configurations ?</p>
<div class="think">
<p><strong>RÉFLEXION 7 :</strong> Quelle est la nature du problème qui nous empêche de juger de cette « supériorité » ou « infériorité » globale, dans la vision de Darwin ? Est-ce simplement que nous n’avons pas assez de données ou que les preuves dont nous disposons sont incomplètes ? Avons-nous besoin d’une nouvelle théorie pour pouvoir comprendre ce point ? Le problème se trouve-t-il dans nos concepts ?</p>
</div>
<figure>
<img src="/images/lessons/typhlops.jpg" class="smallimg left" style="width:33.0%" alt="Un spécimen de Xerotyphlops vermicularis en Inde (image : CC-BY-SA, AshLin, Wikimedia Commons)" /><figcaption aria-hidden="true">Un spécimen de <em>Xerotyphlops vermicularis</em> en Inde (image : CC-BY-SA, AshLin, Wikimedia Commons)</figcaption>
</figure>
<p>Voilà ce qu’avançait Darwin (la plupart du temps) : nous devrions tout simplement arrêter d’utiliser les termes « supérieur » et « inférieur » car il n’y a pas de grande flèche du « progrès » dans l’évolution, partant des algues pour culminer avec les êtres humains. Cependant, comme nous l’avons vu, il est difficile de garder cette idée en tête — même Darwin avait du mal ! Penchons-nous d’ailleurs sur quelques exemples où Darwin a adopté une position assez différente. Dans <em>L’origine des espèces</em> elle-même (n’oubliez pas que Darwin était en train de rédiger ce livre au moment où il a écrit la lettre à Hooker que nous venons de lire), il consacre de nombreuses pages à une objection assez évidente à sa théorie : si l’évolution ne rend <strong>pas</strong> les organismes « supérieurs » ou « plus parfaits », comment comprendre alors certains traits de la nature en apparence « parfaits », comme la vitesse de course du guépard ou, selon l’exemple de Darwin ici, les ailes d’un oiseau ?</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>L’origine des espèces</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{L&#39;origine des espèces} (1859)">
<p>Quand nous voyons une structure hautement perfectionnée en vue d’une habitude particulière, comme les ailes d’un oiseau pour le vol, nous devrions garder à l’esprit que des animaux présentant des degrés transitionnels précoces de la structure auront rarement continué à exister jusqu’à aujourd’hui, car ils auront été supplantés au cours du processus même de perfection par sélection naturelle. De plus, nous pouvons conclure que les degrés transitionnels entre des structures appropriées à des habitudes de vie très différentes auront rarement été développés à une période récente en grande nombre et en de nombreuses formes subordonnées.<a href="#fn3" class="footnote-ref" id="fnref3" role="doc-noteref"><sup>3</sup></a></p>
</div>
</div>
<figure>
<img src="/images/lessons/flying_fish.jpg" class="smallimg" style="width:33.0%" alt="Un poisson volant, Exocoetus volitans, illustration de J.F. Hennig, 1801 (image : domaine public, Wikimedia Commons)" /><figcaption aria-hidden="true">Un poisson volant, <em>Exocoetus volitans</em>, illustration de J.F. Hennig, 1801 (image : domaine public, Wikimedia Commons)</figcaption>
</figure>
<p>Darwin écrit que lorsque nous observons quelque chose d’aussi complexe qu’une aile d’oiseau, nous ne devons pas oublier que — et c’est là que ça se complique — les formes antérieures de cette aile, celles qui n’ont pas aussi bien fonctionné, auront disparu précisément parce que les nouvelles versions que nous voyons aujourd’hui sont <strong>meilleures</strong> que les anciennes. Le « processus de perfection par sélection naturelle » aura produit des ailes nouvelles, meilleures, qui à leur tour auront permis aux organismes qui les possèdent de mieux réussir que les organismes qui n’en disposent pas.</p>
<p>On s’en rend mieux compte si on pense aux organismes qui possèdent effectivement des imitations médiocres d’ailes d’oiseau, comme les poissons volants. Il n’existe que quelques espèces de poisson volant, qui peuvent seulement <a href="https://www.nationalgeographic.com/animals/fish/group/flying-fish/">planer de temps à autre dans l’air, au-dessus de la surface d’un plan d’eau</a>. Darwin poursuit :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>L’origine des espèces</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{L&#39;origine des espèces} (1859)">
<p>Ainsi, pour revenir à notre illustration imaginaire du poisson volant, il ne semble pas probable que les poissons capables de vol véritable auraient été développés en de nombreuses formes subordonnées, pour attraper des proies de diverses sortes selon divers modes, sur terre et dans l’eau, jusqu’à ce que leurs organes de vol soient parvenus à un haut niveau de perfection, d’une façon qui leur ait donné un avantage tangible sur d’autres animaux dans la bataille pour la vie. C’est pourquoi la chance de découvrir des espèces à l’état fossile présentant des degrés transitionnels de structure sera toujours moindre, du fait qu’elles ont existé en quantités moindres que les espèces aux structures entièrement développées.<a href="#fn4" class="footnote-ref" id="fnref4" role="doc-noteref"><sup>4</sup></a></p>
</div>
</div>
<p>Voici à peu près ce que dit Darwin : parce que les poissons volants ne sont pas très bons pour voler, ils ne sont pas très bons pour tous les <em>avantages</em> qu’il y a à voler, ils ne peuvent pas attraper d’insectes ni éviter les prédateurs d’une façon comparable à ce que peut faire un vrai oiseau. Ils n’ont donc pas de raison évolutive de se répandre. Comme il n’y en a pas beaucoup, il est moins probable qu’on en trouve parmi les fossiles. Cela signifie qu’il sera toujours difficile de retracer comment un trait hautement perfectionné comme les ailes d’oiseau s’est développé au cours de l’histoire de la vie.</p>
<p>Mais une minute, ça ne va pas du tout ! On n’était pas censé parler de supérieur et inférieur, de meilleur et moins bon, et on n’était <strong>pas du tout</strong> censé parler de sélection naturelle comme d’un « processus de perfection ». Qu’est-ce qui se passe ? Qu’est-ce que fait Darwin ?</p>
<div class="think">
<p><strong>RÉFLEXION 8 :</strong> Comment réagir quand on pense avoir trouvé un exemple de confusion ou de contradiction dans des travaux de scientifique ? Ces contradictions causent-elles des problèmes pour les théories scientifiques que leur auteur(e) espérait défendre ? D’un autre côté, en quoi ces contradictions ou tiraillements peuvent-ils être utiles à la génération de nouvelles connaissances ?</p>
</div>
<p>Il se passe que Darwin fait l’erreur dont nous avons discuté au début du cours et c’est une erreur dans laquelle il est facile de tomber : mélanger l’idée de <strong>concurrence sélective</strong> et celle de <strong>progrès évolutif</strong>. Rien dans une aile d’oiseau n’est « supérieur » et rien dans une aile de poisson volant n’est « inférieur ». La <strong>seule chose</strong>, c’est que les ailes d’oiseau fonctionnent mieux pour faire ce que les oiseaux leur demandent. Les oiseaux ont une série de problèmes à régler, ce qu’aujourd’hui nous appellerions leur <a href="https://www.sciencedirect.com/topics/earth-and-planetary-sciences/ecological-niche">niche écologique</a> : le type d’aliments qu’ils mangent, quels prédateurs ils doivent éviter, où ils dorment et comment ils se reproduisent. On voit bien que ces problèmes sont très différents pour un poisson volant ! La plupart des oiseaux seraient assez mauvais pour pondre leurs œufs dans l’eau et fuir à la nage devant les gros poissons.</p>
<div class="think">
<p><strong>RÉFLEXION 9 :</strong> Si on voulait comparer le cas du vol d’un oiseau avec celui du vol d’un poisson volant, quels éléments faudrait-il garder à l’esprit ? De quelles informations aurait-on besoin, sur la vie d’un poisson volant et sur celle d’un oiseau, pour pouvoir faire la comparaison ? Et même, la comparaison a-t-elle un sens ? Qu’est-ce qu’elle nous aiderait à comprendre sur la structure de la théorie de l’évolution ?</p>
</div>
<p>Moralité ? Nous devrions faire très attention quand nous parlons de « perfection » évolutive et même dans les cas où il nous semble évident qu’une caractéristique est « meilleure » qu’une autre pour une certaine tâche. Un peu plus loin dans <em>L’origine</em>, Darwin est plus prudent, quand il répond une fois de plus à l’objection selon laquelle quelque chose d’aussi complexe qu’un œil ne peut pas avoir évolué par sélection naturelle :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>L’origine des espèces</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{L&#39;origine des espèces} (1859)">
<p>[…] Supposer que l’œil, avec tous ses dispositifs inimitables d’ajustement de la mise au point à différentes distances, d’admission de différentes quantités de lumière et de correction de l’aberration sphérique et chromatique, pourrait avoir été formé par sélection naturelle, semble, je l’avoue sans mal, absurde au plus haut degré. Cependant, la raison me dit que si l’on peut montrer qu’il existe de nombreuses gradations depuis un œil parfait et complexe jusqu’à un œil très imparfait et simple, chaque degré étant utile à son possesseur ; si, de plus, l’œil varie tant soit peu et que les variations sont héritées, ce qui est certainement le cas, et si une variation ou modification dans l’organe se trouve être utile à un animal sous des conditions de vie modifiées, alors notre difficulté à croire qu’un œil parfait et complexe peut être formé par sélection naturelle, bien qu’insurmontable pour notre imagination, ne peut plus être considérée comme réelle.<a href="#fn5" class="footnote-ref" id="fnref5" role="doc-noteref"><sup>5</sup></a></p>
</div>
</div>
<figure>
<img src="/images/lessons/eye_evolution.jpg" class="lgimg" style="width:100.0%" alt="Degrés de complexité de l’œil chez les mollusques (extrait de l’article de F.J. Ayala, « Darwin’s greatest discovery: Design without designer », Proceedings of the National Academy of Sciences, 2007, vol. 104, no suppl. 1, p. 8567-8573, https://doi.org/10.1073/pnas.0701072104, copyright 2007 National Academy of Sciences)" /><figcaption aria-hidden="true">Degrés de complexité de l’œil chez les mollusques (extrait de l’article de F.J. Ayala, « Darwin’s greatest discovery: Design without designer », <em>Proceedings of the National Academy of Sciences</em>, 2007, vol. 104, n<sup>o</sup> suppl. 1, p. 8567-8573, <a href="https://doi.org/10.1073/pnas.0701072104" class="uri">https://doi.org/10.1073/pnas.0701072104</a>, copyright 2007 National Academy of Sciences)</figcaption>
</figure>
<p>Degrés de complexité de l’œil chez les mollusques (extrait de l’article de F.J. Ayala, « Darwin’s greatest discovery: Design without designer », Proceedings of the National Academy of Sciences, 2007, vol. 104, n<sup>o</sup> suppl. 1, p. 8567-8573, <a href="https://doi.org/10.1073/pnas.0701072104" class="uri">https://doi.org/10.1073/pnas.0701072104</a>, copyright 2007 National Academy of Sciences)</p>
<p>Même quelque chose qui nous semble parfait peut avoir évolué par sélection naturelle, du moment que nous comprenons comment les étapes successives qui ont mené de l’absence d’œil jusqu’à la présence d’un œil complètement formé pouvaient avoir « eu un sens » d’un point de vue évolutif, c’est-à-dire que chaque étape aurait donné aux organismes chez qui elle était présente un avantage par rapport aux organismes chez qui elle ne l’était pas. Voilà le sens de « supérieur » que nous pouvons, et devons, utiliser. Nous pouvons d’ailleurs en faire la démonstration dans le cas de l’œil en observant les autres formes d’yeux que les organismes possèdent aujourd’hui !</p>
<p>Suivons sur l’image ci-dessus les étapes possibles du développement d’un œil, depuis une simple tache capable de détecter l’ombre et la lumière jusqu’à un œil extrêmement sophistiqué comme <a href="https://gizmodo.com/octopus-eyes-are-crazier-than-we-imagined-1783195433">celui de la pieuvre</a>. Tout à fait à gauche, la capacité à détecter ombre et lumière serait très utile à un organisme vivant dans des eaux peu profondes et pour qui la température de l’eau a une importance. Le passage à une « coupe pigmentaire » commence à fournir des informations directionnelles sur le point d’origine de la lumière. Ensuite, des « appareils photo » de plus en plus complexes permettent de commencer à identifier ce qui est regardé. À chaque étape, les organismes possédant le type d’œil concerné peuvent agir de manière plus complexe et répondre à leur environnement, à la nourriture et aux prédateurs de façons qui les aident à réussir.</p>
<div class="think">
<p><strong>RÉFLEXION 10 :</strong> En quoi ce concept est-il comparable à notre représentation traditionnelle du « progrès » ? En quoi est-il différent ? Beaucoup de gens au XIX<sup>e</sup> siècle, époque où Darwin a introduit l’évolution, s’inquiétaient de la direction générale prise par leur culture et la société. Qu’est-ce qu’ils ont pensé de l’effet de l’évolution sur leur vision des choses et leur place dans le monde ? Et comment leur position pourrait avoir affecté le type de théorie que des scientifiques comme Darwin essaieraient de développer ?</p>
</div>
<p>La « supériorité » évolutive, donc, concerne la capacité à faire mieux que d’autres dans la compétition pour la survie et la reproduction. Elle ressemble parfois à un « progrès » dans notre sens du mot, quand elle correspond à des caractéristiques comme la vitesse de course, la capacité à voir mieux ou la force physique. Mais elle peut parfois aussi correspondre à la transformation en ver de terre ou au fait d’être un poisson volant. Même Darwin avait du mal à bien dissocier ces deux idées. À la toute fin de <em>L’origine des espèces</em>, il a essayé de rassurer le public qui aurait pu trouver effrayante une vision du monde évolutive — s’il n’y a pas de progrès pour gouverner l’avenir de la vie sur Terre, devons-nous craindre que la sélection naturelle nous condamne à un avenir catastrophique où nous serions tous des serpents-vers aveugles ? Non, dit Darwin :</p>
<div class="quote-wrapper">
<div class="quote-title">
<p>Darwin, <em>L’origine des espèces</em> (1859)</p>
</div>
<div class="quote" title="Darwin, \emph{L&#39;origine des espèces} (1859)">
<p>Comme toutes les formes de vie actuelles sont les descendantes linéaires de celles qui ont vécu bien avant l’époque silurienne, nous sommes assurés que la succession ordinaire des générations n’a jamais été interrompue une seule fois et qu’aucun cataclysme n’a désolé le monde entier. De là, nous pouvons regarder avec confiance un futur assuré d’une longueur également inappréciable. Et comme la sélection naturelle travaille seulement par et pour le bien de chaque être, tous les dons corporels et mentaux auront tendance à progresser vers la perfection.<a href="#fn6" class="footnote-ref" id="fnref6" role="doc-noteref"><sup>6</sup></a></p>
</div>
</div>
<p>Pourtant comme nous le savons aujourd’hui, ici, Darwin fait montre de talent poétique, pas d’exactitude. Ce que Darwin voulait dire par « traits progressant vers la perfection » — ce qu’il voulait forcément dire après s’être débarrassé avec difficulté des idées de « supérieur » et « inférieur », de « meilleur » et « moins bon » — ne ressemblait pas nécessairement beaucoup à ce que son public britannique du XIX<sup>e</sup> siècle imaginait derrière le mot de « perfection ».</p>
<div class="think">
<p><strong>RÉFLEXION 11 :</strong> Pour revenir à une question soulevée plus haut, pourquoi cette conception pouvait-elle être effrayante à l’époque, en d’autres termes, pourquoi Darwin a-t-il éprouvé le besoin de rassurer ses lecteurs ? Pensez-vous que ce point préoccupe toujours le public d’aujourd’hui ? Ou bien avons-nous pris l’habitude de l’idée d’évolution ? Quels changements culturels et sociaux pertinents ont eu lieu depuis, qui pourraient entrer en ligne de compte ?</p>
<p><strong>RÉFLEXION 12 :</strong> Après avoir absorbé toutes ces informations, pensez-vous que nous devrions parler de l’évolution en termes de progrès ou non ? Nous l’avons vu, il y a effectivement en un sens une amélioration des organismes par l’évolution et il est indéniable qu’il existe aujourd’hui des caractéristiques avancées qui n’existaient pas autrefois. Est-ce assez pour valider une vision de l’évolution comme progrès ? Ou pensez-vous que les arguments contre le progrès sont plus convaincants ? Quelles seraient les conséquences de vos conceptions sur le type de science que vous pourriez choisir de pratiquer, si c’était votre métier d’étudier l’évolution ?</p>
</div>
<h2 id="réflexion-questions-sur-la-nature-des-sciences">RÉFLEXION : questions sur la nature des sciences</h2>
<p>Qu’est-ce que les fluctuations de Darwin sur les concepts de « supériorité » et « infériorité » nous disent sur les aspects suivants de la science ?</p>
<ul>
<li>nature de la crédibilité scientifique</li>
<li>responsabilité des scientifiques vis à vis de la société</li>
<li>rôle des convictions culturelles dans la science</li>
<li>rôle des préjugés raciaux et/ou de classe</li>
<li>alternatives d’explication des phénomènes</li>
<li>collaboration et concurrence entre scientifiques</li>
</ul>
<h2 id="lectures-dapprofondissement">Lectures d’approfondissement</h2>
<ul>
<li>Peter J. Bowler, <a href="https://www.worldcat.org/title/charles-darwin-the-man-and-his-influence/oclc/731572144"><em>Charles Darwin: The Man and His Influence</em></a>, Cambridge, 1996, Cambridge University Press.</li>
<li>Michael Ruse, <a href="https://www.worldcat.org/title/monad-to-man-the-concept-of-progress-in-evolutionary-biology/oclc/756838729"><em>Monad to Man: The Concept of Progress in Evolutionary Biology</em></a>, Cambridge, Massachusetts, 1996, Harvard University Press.</li>
<li>James Moore, « Darwin’s Progress and the Problem of Slavery », <em>Progress in Human Geography</em>, 2010, vol. 34, n<sup>o</sup> 5, p. 555-582, <a href="https://doi.org/10.1177/0309132510362932" class="uri">https://doi.org/10.1177/0309132510362932</a>.</li>
</ul>
<section class="footnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" role="doc-endnote"><p>Lettre de Hooker à Darwin du 26 décembre 1858, voir <a href="https://www.darwinproject.ac.uk/letter/DCP-LETT-2385.xml" class="uri">https://www.darwinproject.ac.uk/letter/DCP-LETT-2385.xml</a>. Traduction de l’anglais : Sandra Mouton.<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2" role="doc-endnote"><p>Lettre de Darwin à Hooker du 31 décembre 1858, voir <a href="https://www.darwinproject.ac.uk/letter/DCP-LETT-2388.xml" class="uri">https://www.darwinproject.ac.uk/letter/DCP-LETT-2388.xml</a>. Traduction de l’anglais : Sandra Mouton.<a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3" role="doc-endnote"><p>Charles Darwin, <a href="https://doi.org/10.5962/bhl.title.68064"><em>L’origine des espèces : texte intégral de la première édition de 1859</em></a>, traduction de Thierry Hoquet, Paris, 2013, éd. du Seuil, p. 193-194.<a href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn4" role="doc-endnote"><p>Darwin, <em>L’origine des espèces : […] édition de 1859</em>, p. 194. Traduction adaptée de celle de Thierry Hoquet.<a href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn5" role="doc-endnote"><p>Darwin, <em>L’origine des espèces : […] première édition de 1859</em>, p. 197. Traduction adaptée de celle de Thierry Hoquet.<a href="#fnref5" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn6" role="doc-endnote"><p>Darwin, <em>L’origine des espèces : […] première édition de 1859</em>, p. 443.<a href="#fnref6" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
